.ann-record-form-share-checkboxes {
  display: inline-block;

  .a-twitter,
  .a-facebook {
    display: inline-block;
  }

  .a-twitter i {
    color: $color-twitter;
    margin-right: 3px;
  }

  .a-facebook i {
    color: $color-facebook;
    margin-right: 5px;
  }
}
