.ann-record-comment-button {
  color: $color-gunsmoke;
  font-size: 15px;
  margin-left: 10px;

  &:hover {
    color: $color-gunsmoke;
    text-decoration: none;
  }

  > i {
    margin-right: 5px;
  }

  > .a-count {
    font-size: 12px;
  }
}
