.ann-welcome-to-annict {
  background-color: #ffffec;
  margin: 14px;

  h2 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 21px !important;
    font-weight: 300;
    text-align: center;
  }

  .detail {
    text-align: center;

    i {
      margin-right: 5px;
    }
  }
}
