<div id="c-anime-sidebar__status-selector">
  <%= render StatusSelectorComponent.new(
    work_id: @anime.id, init_kind: @library_entry&.status&.kind.presence || "no_select", page_category: "anime-detail"
  ) %>
</div>

<div id="c-anime-sidebar__db-link">
  <% if @user && @user.committer? %>
    <%= link_to t("messages._common.edit_on_annict_db"), db_edit_work_path(@anime.id), class: "btn btn-secondary w-100 mt-2" %>
  <% end %>
</div>
