- title = t "head.title.providers.index"
- set_meta_tags(title: title, og: { title: title }, reverse: true, prefix: false)
- set_page_category "providers_index"

.c-card.py-3.mb-4
  = render "providers/provider_list"

= render "application/components/footer"
= render "application/components/tabbar"
