- title = t "head.title.providers.index"
- set_meta_tags(title: title, og: { title: title }, reverse: true, prefix: false)
- set_page_category "providers_index"

= render "application/components/navbar"
= render "settings/subnav"

.c-card.u-mw-600.mx-auto.mt-1.mb-2.py-1
  = render "providers/provider_list"

= render "application/components/footer"
