body.organizations-show {
  padding-top: 60px;

  .content {
    @include content(wide);
    @include card;

    &.header,
    &.info,
    &.works {
      margin-bottom: 20px;
      padding: 30px 0;
    }

    &.info,
    &.works {
      .title {
        margin-top: 0;
        text-align: center;
      }
    }

    &.header {
      background-color: $color-musani;
      text-align: center;

      h1 {
        color: #ffffff;
        font-size: 28px;
        margin-top: 0;
        margin-bottom: 0;

        .name {
          margin-bottom: 3px;
        }
      }
    }

    &.info {
      table {
        width: 100%;

        tr {
          th {
            font-weight: normal;
            padding: 5px 10px 5px 0;
            text-align: right;
            width: 50%;
          }

          td {
            padding: 5px 0 5px 10px;
            width: 50%;
          }
        }
      }

      .edit-link {
        font-size: 12px;
        margin-top: 10px;
        text-align: right;
      }
    }

    &.works {
      .title-year {
        font-weight: bold;
      }

      .cards {
        .card {
          display: inline-block;
          margin-bottom: 15px;
          margin-right: 5px;
          width: 140px;

          img {
            border: solid 1px $color-alto;
          }

          .work-title,
          .wo-role {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .wo-role {
            color: $color-gunsmoke;
            font-size: 12px;
          }
        }
      }
    }
  }
}
