- title = t "head.title.channels.index"
- set_meta_tags(title: title, reverse: true, prefix: false)

.c-card.u-mw-600.mx-auto.mt-3.mb-4.p-3
  = render "channels/channel_list", channel_groups: @channel_groups
