- title = t "head.title.channels.index"
- set_meta_tags(title: title, reverse: true, prefix: false)


= render "channels/subnav"

.c-card.p-3.mt-3.mb-4
  = render "channels/channel_list", channel_groups: @channel_groups

= render "application/components/footer"
