.c-carousel {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    flex: 0 0 180px;
    margin-right: 0.5rem;
    width: 180px;
  }
}
