.c-footer {
  $root: &;

  &__main,
  &__auxiliary {
    h4 {
      color: $ann-color-black-060;
    }

    a {
      color: $ann-color-black-040;

      &:hover {
        color: darken($ann-color-black-040, 15%);
      }
    }
  }

  &__main {
    h2 {
      a {
        color: $ann-color-black-080;
        font-family: "Raleway", sans-serif;
      }
    }

    #{$root}__list {
      li {
        line-height: map-get($ann-line-height-sizes, 4);
      }
    }
  }
}
