.c-profile-header {
  position: relative;

  &__background {
    background-position: center;
    background-size: cover;
    height: 100px;
  }

  &__content {
    height: 80px;
  }

  &__profile-image {
    width: 100px;

    .c-profile-image {
      border: 3px solid $ann-color-white;
      position: absolute;
      top: -20px;
      width: 100px;
    }
  }

  &__username {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(lg) {
  .c-profile-header {
    &__background {
      height: 200px;
    }

    &__content {
      height: 90px;
    }

    &__profile-image {
      width: 120px;

      .c-profile-image {
        top: -30px;
        width: 120px;
      }
    }
  }
}
