$color-guard-text: rgba(0, 0, 0, .5);

.c-spoiler-guard {
  color: $color-guard-text;
  filter: blur(5px);

  .badge {
    display: none;
  }

  &.is-not-spoiler {
    color: $ann-color-body;
    filter: none;

    .badge {
      display: inline-block;
    }
  }

  &.is-spoiler {
    &:hover {
      cursor: pointer;
    }
  }
}
