.c-status-selector {
  border-radius: $border-radius;
  color: $ann-color-white;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.unselected {
    color: $ann-color-green;

    .c-status-selector__object {
      border: solid 1px $ann-color-green;

      select {
        background-color: rgba(255, 255, 255, 0);
        color: $ann-color-green;
      }
    }
  }

  &__object {
    position: relative;

    select {
      appearance: none;
      background-color: $ann-color-green;
      border: 0;
      border-radius: 0;
      color: $ann-color-white;
      cursor: pointer;
      height: 38px;
      outline: none;
      padding-left: 0.5rem;
      width: 130%;

      &:hover {
        background-color: darken($ann-color-green, 15%);
      }

      option {
        background-color: $ann-color-black-090;
      }
    }

    .fa-caret-down {
      font-size: 15px;
      position: absolute;
      right: 7px;
      top: 11px;
      pointer-events: none;
    }
  }

  > .loader {
    background-color: rgba(255, 255, 255, 0.85);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    &.loading-transition {
      line-height: 35px;
      text-align: center;
      transition: all .1s ease-out;
    }

    &.loading-enter,
    &.loading-leave {
      opacity: 0;
    }

    > i {
      color: $ann-color-green;
    }
  }
}
