.c-tab-bar {
  // Mobile
  @include media-breakpoint-down(sm) {
    & {
      bottom: 0;
      box-shadow: 0 -0.125rem 0.25rem -0.125rem rgba(0, 0, 0, 0.075);
      height: $ann-navbar-height-mobile;
      left: 0;
      position: fixed;
      right: 0;
      z-index: $zindex-fixed;
    }
  }
}
