// Color system

$ann-mizuho-color: #d51c5b;
$ann-supporter-color: #00bcd4;

$ann-theme-color-map: (
  'primary': $ann-mizuho-color,
);

$ann-rating-map: (
  bad: #757575,
  average: #ff6d00,
  good: #00c853,
  great: #00b0ff,
);

$ann-shirobako-color-map: (
  's': #d5ab1c,
  'ho': #d24488,
  'ik': #7c608c,
  'rb': #2985be,
  'o': #a3bc5c,
  'a': #d74f13,
);

$ann-service-color-map: (
  'facebook': #2e6499,
  'gumroad': #3cabba,
  'twitter': #24b1ec,
);

// Buttons

$ann-btn-color-map: (
  average: map-get($ann-rating-map, 'average'),
  bad: map-get($ann-rating-map, 'bad'),
  facebook: map-get($ann-service-color-map, 'facebook'),
  good: map-get($ann-rating-map, 'good'),
  great: map-get($ann-rating-map, 'great'),
  gumroad: map-get($ann-service-color-map, 'gumroad'),
  supporter: $ann-supporter-color,
  twitter: map-get($ann-service-color-map, 'twitter'),
);

// Navbar

$ann-navbar-height: 52px;
$ann-navbar-height-mobile: 70px;
