@import 'node_modules/bootstrap/scss/mixins';

.select2-container {
  .select2-selection--single {
    height: auto;
    padding: $input-btn-padding-y;

    .select2-selection__rendered {
      color: $text-muted;
      height: auto;
      line-height: normal;
      padding-left: 0;
      padding-right: 0;
    }

    .select2-selection__arrow {
      height: 100%;
      top: 0;
    }
  }

  .select2-selection {
    @include border-radius($input-border-radius);
    border: $input-btn-border-width solid $input-border-color;
  }
}
