.l-sidebar {
  background-color: $ann-color-black-l1;
  float: left;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 14rem;

  a {
    color: $ann-color-white;

    &:hover {
      color: $ann-color-white;
      text-decoration: none;
    }
  }
}

.l-sidebar__lockup {
  display: block;
  font-size: 1.5rem;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 100%;

  &__logo {
    font-family: 'Raleway', sans-serif;
  }

  &__brand {
    margin-left: 0.3rem;
  }
}

.l-sidebar__menu {
  a {
    padding: .5rem 0;
    width: 100%;
  }
}

.l-sidebar__annict-link {
  background-color: $ann-color-mizuho;
  bottom: 0;
  padding: .3rem;
  position: absolute;
  width: 100%;
}
