body.options-index {
  > .app__main {
    > .content {
      @include content(narrow);
      @include card;
      padding: 15px 0;

      .detail {
        color: $color-gunsmoke;
        font-size: 10px;
      }

      .form-submit {
        text-align: center;
      }
    }
  }
}
