body.searches-show {
  padding-top: 60px;

  .c-tabs {
    @include tabs(independent);
  }

  .c-content {
    @include content(wide);
    @include card;

    form {
      padding: 15px 0;
      text-align: center;

      .form-group {
        margin-bottom: 10px;
      }

      i {
        margin-right: 7px;
      }
    }
  }

  .works-content,
  .people-content,
  .orgs-content {
    @include content(wide);
    margin-bottom: 20px;

    .no-works,
    .no-people,
    .no-organizations {
      @include card;
      padding: 15px 0;
    }
  }

  .works-content {
    .work {
      @include card;
      @include work(large);
    }
  }

  .people-content {
    .person {
      @include card;
    }
  }
}
