script#t-channel-receive-button type="x-template"
  .c-channel-receive-button
    button.btn :class='{ "btn-primary": !isReceiving, "btn-info": isReceiving, "c-spinner": isSaving }' @click="toggle"
      i.fa.mr-0 :class='{ "fa-plus": !isReceiving, "fa-minus": isReceiving }'
