script#t-impression-button type="x-template"
  .c-impression-button :class='{ "is-small": size === "small", "is-default": size !== "small" }'
    .btn.u-btn-outline-green.h-100.py-0 @click="openModal" :class='{ "btn-sm": size === "small" }'
      = icon "ellipsis-h", class: "me-0"
