script#t-record-textarea type="x-template"
  textarea.form-control name="checkin[comment]" :class='{ "has-new-line": isEditingComment }' :rows="record.commentRows" :placeholder='placeholder || ""' v-model="record.comment" @click="expandOnClick" @keyup.enter="expandOnEnter"
