- action_user = notification.action_user
- multiple_record = notification.trackable.recipient
- work = multiple_record.work
- records = multiple_record.episode_records.order(:id)

- user_name = link_to action_user.profile.name, profile_path(action_user.username), class: "username"
- work_title = link_to work.title, work_path(work_id: work.id), class: "work-title"

span.me-1
  = action_user.name_link
| が
span.ms-1
  = work.title_link
span.mx-1
  = "#{records.first.episode.local_number} ~ #{records.last.episode.local_number}"
| の一括記録に「いいね！」しました

.small.text-muted
  = local_time_ago_in_words(notification.created_at)
