.ann-search-form {
  @include display(flex);
  height: 32px;
  margin: 14px 0 14px 14px;
  position: relative;

  > input,
  > button {
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid $color-alto;
    border-color: rgba(255, 255, 255, .15);
    color: $color-alto;
  }

  > input {
    border-right-width: 0;
    line-height: 1.1;
    padding: 7px 0 7px 12px;
    width: 300px;
  }

  > button {
    border-left-width: 0;
    line-height: 0;
    padding: 0 10px;

    &:before {
      color: $color-alto;
      content: "";
      font: normal normal normal 14px/1 FontAwesome;
    }
  }

  > .results {
    left: -335px;
    margin-top: 1px;
    position: relative;
    top: 30px;

    > ul {
      background-color: $color-mine-shaft;
      border: 1px solid $color-alto;
      border-color: rgba(255, 255, 255, .15);
      width: 335px;

      > li {
        color: #fff;
        display: block;
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        padding: 0 7px;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          cursor: pointer;
        }

        &.active {
          background-color: #fff;
          color: $color-text;
        }

        > .label {
          border-radius: 2px;
          color: #fff;
          margin-right: 7px;
          padding: 3px 5px;

          &.work {
            background-color: #3498db;
          }

          &.person {
            background-color: $color-miyazuka;
          }

          &.organization {
            background-color: $color-musani;
          }
        }
      }
    }
  }
}
