.ann-navbar {
  @include display(flex);
  @include justify-content(space-between);
  background-color: $color-mine-shaft;
  height: 60px;
  line-height: 60px;
  padding: 0 35px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;

  img {
    vertical-align: middle;
  }

  ul {
    display: inline-block;
    list-style-type: none;

    li {
      display: inline;

      a {
        color: $color-alto;
        display: inline-block;
        height: 60px;
        transition: all .1s ease-in-out;

        &:hover {
          color: #fff;
        }
      }

      &.dropdown {
        position: relative;

        > a {
          &:hover {
            & ~ .menu {
              display: block;
            }
          }
        }

        ul.menu {
          background-color: $color-mine-shaft;
          display: none;
          position: absolute;
          width: 150px;

          &:hover {
            display: block;
          }

          li {
            display: block;
            height: 35px;
            line-height: 35px;

            a {
              padding-left: 14px;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .left {
    @include display(flex);

    .logo {
      display: inline-block;
      float: left;
      height: 60px;
    }

    > ul {
      margin-left: 7px;

      > li {
        margin-left: 14px;

        &.dropdown {
          ul.menu {
            left: -20px;
          }
        }
      }
    }

    .search-form {
      @include display(flex);
      height: 32px;
      margin: 14px 0 14px 14px;
      position: relative;

      input,
      button {
        background-color: rgba(0, 0, 0, .1);
        border: 1px solid $color-alto;
        border-color: rgba(255, 255, 255, .15);
        color: $color-alto;
      }

      input {
        border-right-width: 0;
        line-height: 1.1;
        padding: 7px 0 7px 12px;
        width: 300px;
      }

      button {
        border-left-width: 0;
        line-height: 0;
        padding: 0 10px;

        &:before {
          color: $color-alto;
          content: "";
          font: normal normal normal 14px/1 FontAwesome;
        }
      }
    }
  }

  .right {
    > ul {
      margin: 0;

      > li {
        margin-left: 14px;

        &.sign-in {
          @include fake-link;
          color: $color-alto;
          display: inline-block;
          transition: all .1s ease-in-out;

          &:hover {
            color: #fff;
          }
        }

        &.sign-up {
          @include btn($color-mizuho, $type: transparency);
          transition: all .1s ease-in-out;

          &:hover {
            background-color: $color-mizuho;
            color: #fff;
            cursor: pointer;
          }
        }

        &.dropdown {
          .notifications-count {
            background-color: $color-mizuho;
            border-radius: 10px;
            color: #ffffff;
            font-size: 12px;
            line-height: normal;
            padding: 1px 5px;
            position: absolute;
            top: -14px;
            left: 20px;
          }

          ul.menu {
            right: -35px;

            li.notification {
              position: relative;

              .count {
                background-color: $color-mizuho;
                border-radius: 10px;
                color: #ffffff;
                font-size: 12px;
                line-height: normal;
                padding: 1px 5px;
                position: absolute;
                right: 14px;
                top: 10px;
              }
            }
          }
        }

        img.avatar {
          @include img-circle;
        }
      }
    }
  }
}
