footer {
  padding: 20px 0;

  .wrapper {
    margin: {
      left: auto;
      right: auto;
    }
    max-width: 500px;

    ul.links {
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      margin-bottom: 15px;
      text-align: center;

      li {
        display: inline;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    .copyright {
      color: $color-gunsmoke;
      margin-top: 10px;
      text-align: center;
    }
  }
}
