p = t "messages.sayonara.description"

.text-center
  = link_to t("messages.sayonara.delete_account"), settings_user_path, data: { confirm: t("messages.sayonara.are_you_sure_really"), method: :delete }
