{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["last 2 versions", "Chrome >= 41"]
        },
        "useBuiltIns": "usage",
        "corejs": 3,
        "forceAllTransforms": true
      }
    ]
  ]
}
