{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": "current"
        }
      }
    ]
  ],

  "plugins": ["syntax-dynamic-import", "transform-object-rest-spread", ["transform-class-properties", { "spec": true }]]
}
