.devcontainer
.env.development
.env.test
.eslintrc.json
.git
.github
.idea
.prettierrc
.rspec
.sass-cache
.sass-lint.yml
.solargraph.yml
**/.DS_Store
Dockerfile.local
log
node_modules
README.md
tmp
volumes
