.DS_Store

/.bundle
/.idea
/.sass-cache
/config/application.yml
/config/master.key
/coverage
/db/dump/*
/lib/tasks/data.rake
/log/*
/node_modules
/public/packs
/public/paperclip
/public/sitemap*
/spec/test_files/paperclip
/storage/*
/tags
/tmp/*
/vendor/bundler
/yarn-error.log
