version: "3.7"

services:
  postgresql:
    image: postgres:10.3-alpine
    ports:
      - 5432:5432
    volumes:
      - ../_postgresql/data:/var/lib/postgresql/data
  selenium:
    image: selenium/standalone-chrome:latest
    ports:
      - 4444:4444
