services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    depends_on:
      - imgproxy
      - minio
      - postgresql
      - redis
    environment:
      BINDING: 0.0.0.0
    ports:
      - "13000:3000"
    stdin_open: true
    tty: true
    volumes:
      - .:/workspace
      - app_gems_data:/usr/local/bundle

  postgresql:
    image: postgres:17.3
    ports:
      - "15432:5432"
    volumes:
      - postgresql17_data:/var/lib/postgresql/data:delegated
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust

  redis:
    image: redis:7.4.2-alpine
    ports:
      - "16379:6379"

  minio:
    image: minio/minio
    environment:
      MINIO_ROOT_USER: minio_admin
      MINIO_ROOT_PASSWORD: minio_admin
      MINIO_SERVER_URL: http://localhost:9000
    ports:
      - "19000:9000"
      - "19001:9001"
    command: server /data --address "0.0.0.0:9000" --console-address "0.0.0.0:9001"
    volumes:
      - minio_data:/data
    networks:
      default:
        aliases:
          - annict-development.minio

  imgproxy:
    image: darthsim/imgproxy:v3.27.2
    ports:
      - "18080:8080"
    env_file:
      - .env.imgproxy

volumes:
  app_gems_data:
  minio_data:
  postgresql17_data:
