services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile.dev
    depends_on:
      - imgproxy
      - minio
      - postgresql
      - redis
    environment:
      BINDING: 0.0.0.0
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    volumes:
      - .:/app
      - app_gems_data:/usr/local/bundle

  postgresql:
    image: postgres:16.4
    ports:
      - "5432:5432"
    volumes:
      - postgresql16_data:/var/lib/postgresql/data:delegated
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust

  redis:
    image: redis:7.2.5-alpine
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    environment:
      MINIO_ROOT_USER: minio_admin
      MINIO_ROOT_PASSWORD: minio_admin
      MINIO_DOMAIN: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      default:
        aliases:
          - annict-development.minio

  imgproxy:
    image: darthsim/imgproxy:v3.5.0
    ports:
      - "8080:8080"
    env_file:
      - .env.imgproxy

volumes:
  app_gems_data:
  minio_data:
  postgresql16_data:
