<% title = t "head.title.tracks.show" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container py-3">
  <turbo-frame
    data-controller="reloadable-frame"
    data-reloadable-frame-event-name-value="trackable-episode-list"
    data-reloadable-frame-target="frame"
    id="trackable-episode-list"
    src="<%= trackable_episode_list_path(page: params[:page]) %>"
    target="_top"
  ></turbo-frame>
</div>
