- title = t "head.title.tracks.show"
- set_meta_tags(title: title, og: { title: title }, reverse: true, prefix: false)
- set_page_category "tracks_show"

.c-card.container.mb-2
  c-untracked-episode-list

= render "application/components/footer"
= render "application/components/tabbar"

- content_for :js_templates do
  = render "application/js_templates/untracked_episode_list"
