.c-flash {
  left: 240px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;
}

.c-flash__alert {
  border: none;
  margin-bottom: 0;
  padding: 0;
}

.c-flash__content {
  cursor: pointer;
  line-height: 70px;
  padding: 0 10px;
}

.c-flash__content i {
  font-size: 30px;
  margin-right: 7px;
  position: relative;
  top: 5px;
}

.c-flash--expand-transition {
  top: 0;
  transition: all 0.8s linear;
}

.c-flash--expand-enter,
.c-flash--expand-leave {
  top: -500px;
}
