body {
  &.checkins-new, &.checkins-create, &.checkins-edit, &.checkins-update {
    @include work-profile-light;
  }

  &.checkins-show, &.comments-create {
    @include checkin-comment;
    @include work-profile-light;

    .welcome-to-annict {
      margin-top: -5px;
    }

    .comments {
      .media-body {
        width: 100%;

        .top {
          height: 17px;
          line-height: 17px;

          .name {
            margin-right: 5px;
          }

          .pull-right {
            font-size: 12px;

            .created-at {
              a {
                color: $color-gray-dark-light;
              }
            }
          }
        }

        .middle {
          margin: 7px 0 20px 0;
        }

        .bottom {
          font-size: 12px;

          margin-bottom: 5px;
        }
      }
    }
  }
}
