.episodes {
  &.episodes-show {
    > .navbar {
      margin-bottom: 0;
    }

    > .content {
      margin-top: -20px;
    }

    .checkin-users {
      height: 30px;
      line-height: 30px;
      margin-top: 10px;

      a {
        margin-right: 5px;
      }

      .checkins-count {
        color: $color-gray-dark-light;
        font-size: 12px;
        margin-left: 3px;
      }
    }

    hr.cu {
      margin-top: 10px;
    }

    h2 {
      margin: 0 0 10px 0;
    }

    .checkin-comments {
      @include checkin-comment;

      h2 {
        text-align: center;
      }

      .checkin-comment {
        position: relative;
      }
    }
  }
}
