.episodes {
  &.episodes-show {
    @include work-profile-light;

    h2 {
      margin: 0 0 10px 0;
    }

    .checkin-comments {
      @include checkin;

      h2 {
        text-align: center;
      }

      .checkin {
        position: relative;
      }
    }
  }
}
