body.home-index {
  &.not-signed-in {
    .hero-content {
      position: relative;
      color: white;
      margin-bottom: 50px;
      height: 500px;
      background: #333;

      ul.images {
        li {
          img {
            position: absolute; top: 0px; left: 0px; width: 1272px; height: 500px;
          }
        }
      }

      .welcome {
        position: absolute;
        top: 45%;
        left: 0;
        margin: 0;
        text-align: center;
        width: 100%;
        z-index: 10;

        h1 {
          font-family: 'Titillium Web', sans-serif;
        }

        .lead {
          font-family: 'NotoSansJP';
        }

        .signin-buttons {
          display: inline-block;

          .signin-button {
            a {
              &.btn-twitter {
                background-color: #24b1ec;
              }

              &.btn-facebook {
                background-color: #2e6499;
              }
              border: none;
              color: #ffffff;
              line-height: 30px;
              margin-bottom: 12px;
              padding: 0;
              width: 260px;

              .icon {
                height: 42px;
                padding: 6px 6px;
                text-align: center;
                width: 42px;

                i {
                  font-size: 20px;
                  padding-top: 5px;
                }
              }

              .text {
                padding: 6px 0;
                text-align: left;
              }
            }
          }
        }
        .signin-buttons {
          display: inline-block;

          .signin-button {
            a {
              &.btn-twitter {
                background-color: #24b1ec;
              }

              &.btn-facebook {
                background-color: #2e6499;
              }
              border: none;
              color: #ffffff;
              line-height: 30px;
              margin-bottom: 12px;
              padding: 0;
              width: 260px;

              .icon {
                height: 42px;
                padding: 6px 6px;
                text-align: center;
                width: 42px;

                i {
                  font-size: 20px;
                  padding-top: 5px;
                }
              }

              .text {
                padding: 6px 0;
                text-align: left;
              }
            }
          }
        }
        .signin-buttons {
          display: inline-block;

          .signin-button {
            a {
              &.btn-twitter {
                background-color: #24b1ec;
              }

              &.btn-facebook {
                background-color: #2e6499;
              }
              border: none;
              color: #ffffff;
              line-height: 30px;
              margin-bottom: 12px;
              padding: 0;
              width: 260px;

              .icon {
                height: 42px;
                padding: 6px 6px;
                text-align: center;
                width: 42px;

                i {
                  font-size: 20px;
                  padding-top: 5px;
                }
              }

              .text {
                padding: 6px 0;
                text-align: left;
              }
            }
          }
        }
        .signin-buttons {
          display: inline-block;

          .signin-button {
            a {
              &.btn-twitter {
                background-color: #24b1ec;
              }

              &.btn-facebook {
                background-color: #2e6499;
              }
              border: none;
              color: #ffffff;
              line-height: 30px;
              margin-bottom: 12px;
              padding: 0;
              width: 260px;

              .icon {
                height: 42px;
                padding: 6px 6px;
                text-align: center;
                width: 42px;

                i {
                  font-size: 20px;
                  padding-top: 5px;
                }
              }

              .text {
                padding: 6px 0;
                text-align: left;
              }
            }
          }
        }
        .signin-buttons {
          display: inline-block;

          .signin-button {
            a {
              &.btn-twitter {
                background-color: #24b1ec;
              }

              &.btn-facebook {
                background-color: #2e6499;
              }
              border: none;
              color: #ffffff;
              line-height: 30px;
              margin-bottom: 12px;
              padding: 0;
              width: 260px;

              .icon {
                height: 42px;
                padding: 6px 6px;
                text-align: center;
                width: 42px;

                i {
                  font-size: 20px;
                  padding-top: 5px;
                }
              }

              .text {
                padding: 6px 0;
                text-align: left;
              }
            }
          }
        }
        .signin-buttons {
          display: inline-block;

          .signin-button {
            a {
              &.btn-twitter {
                background-color: #24b1ec;
              }

              &.btn-facebook {
                background-color: #2e6499;
              }
              border: none;
              color: #ffffff;
              line-height: 30px;
              margin-bottom: 12px;
              padding: 0;
              width: 260px;

              .icon {
                height: 42px;
                padding: 6px 6px;
                text-align: center;
                width: 42px;

                i {
                  font-size: 20px;
                  padding-top: 5px;
                }
              }

              .text {
                padding: 6px 0;
                text-align: left;
              }
            }
          }
        }
      }
    }
 }

  &.signed-in {
    @include top-group-tab;
  }
}