body.pages-about {
  h2, h3, .image {
    margin-top: 25px;
  }

  h2 {
    text-align: center;
  }

  .image {
    text-align: center;

    img {
      border: 1px solid $color-gray-light;
    }
  }

  .try-to-use {
    margin: 30px 0 10px 0;

    i {
      margin-right: 5px;
    }
  }
}