body.programs-index {
  .programs {
    .loading-box {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 500px;
    }

    .media {
      .media-body {
        width: 100%;

        .work-title {
          font-size:     12px;
          margin-bottom: 5px;
        }

        .episode-title {
          margin-bottom: 7px;
        }

        .footer {
          color:     $color-gray-dark-light;
          font-size: 12px;

          .channel-name {
            float: left;
          }

          .started-at {
            float: right;
          }
        }
      }
    }
  }
}
