.settings-show, .profiles-update, .users-update {
  h2, .form-submit {
    text-align: center;
  }

  .form-submit {
    margin-top: 20px;
  }

  .option {
    .detail {
      color: $color-gray-dark-light;
      font-size: 10px;
    }
  }

  .options-sns-twitter,
  .options-sns-facebook {
    @include display(flex);
    @include justify-content(space-between);

    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .options-sns-twitter-head,
  .options-sns-facebook-head {
    @include flex-basis(50%);

    margin-right: 15px;
    text-align: right;
  }

  .options-sns-twitter-body,
  .options-sns-facebook-body {
    @include flex-basis(50%);

    margin-left: 15px;
    text-align: left;
  }

  .options-sns-twitter-body-icon,
  .options-sns-facebook-body-icon {
    margin-right: 7px;
  }

  .options-sns-cancel-disabled {
    font-size: 12px;
  }

  .sayonara {
    .description {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .action {
      text-align: center;
    }
  }
}
