.settings-show, .profiles-update, .users-update {
  h2, .form-submit {
    text-align: center;
  }

  .form-submit {
    margin-top: 20px;
  }

  .option {
    .detail {
      color: $color-gray-dark-light;
      font-size: 10px;
    }
  }

  .sayonara {
    .description {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .action {
      text-align: center;
    }
  }
}
