body.users-show {
  @include profile-header;

  h2 {
    margin: 0px 0 15px 0;
  }

  .ani-user-checkin-chart {
    margin-left: -5px;
  }
}

body.users-works {
  @include works-list;

  .header {
    margin-bottom: 20px;
    text-align: center;

    h1 {
      line-height: 23px;
      margin-bottom: 0;
      margin-top: 10px;

      @if $browser == pc {
        font-size: 16px;
      }
      @if $browser == mobile {
        font-size: 14px;
      }
    }
  }

  .statuses-tab {
    margin-bottom: 20px;

    .status {
      border-bottom: solid 3px $color-gray-light;
      float: left;
      padding: 5px 0;
      text-align: center;

      @if $browser == pc {
        width: 100px;
      }
      @if $browser == mobile {
        width: 64px;
      }

      &.active {
        border-bottom: solid 3px $color-mizuho;
      }

      a {
        &:hover {
          text-decoration: none;
        }

        .text {
          @if $browser == pc {
            font-size: 12px;
          }
          @if $browser == mobile {
            font-size: 10px;
          }
        }
      }
    }
  }
}
