.works-index, .works-search, .works-on_air, .works-season, .works-popular, .works-recommend {
  @include works-list;

  > .content {
    padding: 0 0 20px 0;
  }
}

.works-search {
  .search-form {
    margin-bottom: 10px;
  }
}

.works-popular {
  .btn-group-tab {
    .btn-group {
      width:   180px;
    }
  }
}

.works-season {
  .btn-group-tab {
    .btn-group {
      width:   270px;
    }
  }
}

.works-show {
  @include work-profile;

  margin-top: -20px;

  .welcome-to-annict {
    margin-top: 15px;
  }

  .work-chart {
    .wrapper {
      display: block;
    }
  }

  .work-info {
    margin-top: 15px;

    h2 {
      margin-top: 0;
    }

    ul {
      li {
        float: left;
        height: 30px;
        line-height: 30px;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 50%;

        @if $browser == pc {
          padding-left: 25px;
        }
        @if $browser == mobile {
          padding-left: 10px;
        }

        i {
          color: $color-gray-dark-light;
          margin-right: 10px;

          &.icon {
            font-size: 16px;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
          }
        }
      }
    }
  }

  .work-episodes {
    .fake-link-small {
      font-size: 12px;
    }

    .multiple-checkin {
      margin-bottom: 5px;
    }

    table {
      margin-bottom: 0;
      width: 100%;

      tbody {
        td {
          vertical-align: middle;

          &.number {
            white-space: nowrap;
            width: 1%;
          }

          &.checkbox-column {
            width: 30px;
          }

          &.checkins {
            padding: 8px 0;
            position: relative;
            width: 30px;

            .badge {
              font-size: 10px;
              left: 35%;
              padding: 3px 5px;
              position: absolute;
              top: 9%;
            }
          }
        }
      }
    }

    .submit-menu {
      float: right;
      margin-top: 10px;

      .fake-link {
        margin-right: 8px;
      }

      .btn-submitting {
        i {
          margin-right: 6px;
        }
      }
    }

    .update-request {
      color: $color-gray-dark-light;
      font-size: 12px;
      margin-top: 20px;
    }
  }
}
