body.users-works {
  padding-top: 60px;

  .app__main {
    > .content {
      @include content(wide);
      @include card;

      .c-tabs {
        @include tabs(independent);
        box-shadow: none;

        .content {
          line-height: normal;
        }

        .tab {
          padding-top: 12px;
        }

        .text {
          font-size: 12px;
        }
      }
    }

    .works {
      @include content(wide);

      .no-works {
        @include card;
        padding: 15px 0;
      }

      .work {
        @include work(compact);
        @include card;
      }
    }
  }
}
