.form-submit {
    text-align: center
}
html, body {
    height: 100%
}
.app-with-sidebar {
    height: 100%
}
.app__main {
    background-color: #f0f0f1;
    margin-left: 200px
}
/* Bootstrapのwidthを上書き */
.container {
    width: auto
}
.content, .content--narrow {
    background-color: #fff;
    margin: 0 auto
}
.content--narrow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-top: 30px;
    max-width: 500px;
    padding: 15px 0
}
.sidebar {
    background-color: #444;
    float: left;
    height: 100%;
    position: fixed;
    top: 0;
    width: 200px
}
.sidebar__header {
    background-color: #f85b73;
    display: block;
    height: 60px;
    padding-top: 5px;
    text-align: center
}
.sidebar__body a, .sidebar__body i, .sidebar__body .caption {
    line-height: 40px
}
.sidebar__body i {
    color: #9a9a9a;
    float: left;
    font-size: 20px;
    text-align: center;
    width: 24px
}
.sidebar__body a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 3px 15px;
    width: 100%
}
.sidebar__body a:first-child {
    margin-top: 20px
}
.sidebar__body a:hover {
    background-color: #383838
}
.sidebar__body .caption {
    display: inline-block;
    margin-left: 10px
}
.sidebar__line {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-bottom: 25px;
    margin-top: 15px
}
.sidebar__footer {
    text-align: center
}
.sidebar__footer a {
    color: #c1c1c1;
    font-size: 10px;
    margin-right: 12px
}
.sidebar__footer .copyright {
    color: #9a9a9a;
    font-size: 10px;
    margin-top: 10px
}
.c-flash {
    left: 240px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050
}
.c-flash__alert {
    border: none;
    margin-bottom: 0;
    padding: 0
}
.c-flash__content {
    cursor: pointer;
    line-height: 60px;
    padding: 0 10px
}
.c-flash__content i {
    font-size: 30px;
    margin-right: 7px;
    position: relative;
    top: 5px
}
.c-flash--expand-transition {
    top: 0;
    transition: all 0.8s linear
}
.c-flash--expand-enter, .c-flash--expand-leave {
    top: -500px
}
.c-tabs {
    background-color: #fff
}
.c-tabs__content {
    display: flex;
    height: 60px;
    justify-content: center;
    line-height: 60px;
    margin: 0 auto;
    max-width: 1200px
}
.c-tabs__tab {
    flex: 1;
    text-align: center;
    text-decoration: none
}
.c-tabs__tab:hover {
    text-decoration: none
}
.c-tabs__tab--active {
    border-bottom: solid 2px #f85b73
}
.settings__option .detail {
    color: #9a9a9a;
    font-size: 10px
}
.settings__providers .providers__twitter, .settings__providers .providers__facebook {
    display: flex;
    height: 30px;
    justify-content: space-between;
    line-height: 30px
}
.settings__providers .providers__twitter {
    margin-bottom: 20px
}
.settings__providers .twitter__head, .settings__providers .facebook__head {
    flex-basis: 50%;
    margin-right: 15px;
    text-align: right
}
.settings__providers .twitter__body, .settings__providers .facebook__body {
    flex-basis: 50%;
    margin-left: 15px;
    text-align: left
}
.settings__providers .icon {
    margin-right: 7px
}
.settings__providers .cancel-disabled {
    font-size: 12px
}
.settings__sayonara .description {
    font-size: 12px;
    margin-bottom: 10px
}
.settings__sayonara .action {
    text-align: center
}
