.p-episodes-table {
  thead {
    th {
      border: 0;
      padding: .5rem 1rem;
    }
  }

  tr:last-child {
    td {
      padding: .5rem 1rem 0;
    }
  }

  td {
    border: 0;
    padding: .5rem 1rem;
    vertical-align: middle;
  }
}
