@mixin ann-variables-dark {
  // Body
  --ann-body-color: #{$gray-200};

  // Forms

  --ann-input-bg: #{$gray-900};
  --ann-input-color: var(--ann-body-color);
  --ann-input-border-color: #{$gray-700};
  --ann-input-focus-bg: var(--ann-input-bg);
  --ann-input-focus-color: var(--ann-input-color);
}
