// Color system

$ann-work-color: #2985be;
$ann-mizuho-color: #d51c5b;
$ann-rating-average-color: #ff6d00;
$ann-rating-bad-color: #757575;
$ann-rating-good-color: #00c853;
$ann-rating-great-color: #00b0ff;
$ann-scheme-dark-color: #212529;
$ann-scheme-light-color: #f5f5f4;
$ann-season-autumn-color: #ff7043;
$ann-season-spring-color: #ec407a;
$ann-season-summer-color: #42a5f5;
$ann-season-unknown-color: #66bb6a;
$ann-season-winter-color: #78909c;
$ann-service-facebook-color: #2e6499;
$ann-service-gumroad-color: #3cabba;
$ann-service-twitter-color: #24b1ec;
$ann-slot-finished-color: #198754;
$ann-slot-today-color: #dc3545;
$ann-slot-tomorrow-color: #0dcaf0;
$ann-slot-yesterday-color: #198754;
$ann-status-color: #4dd4ac;
$ann-status-completed-color: #16a34a;
$ann-status-dropped-color: #52525b;
$ann-status-on-hold-color: #dc2626;
$ann-status-plan-to-watch-color: #ea580c;
$ann-status-watching-color: #0284c7;
$ann-supporter-color: #00bcd4;
$ann-white-color: #fff;

// Buttons

$ann-btn-color-map: (
  average: $ann-rating-average-color,
  bad: $ann-rating-bad-color,
  facebook: $ann-service-facebook-color,
  good: $ann-rating-good-color,
  great: $ann-rating-great-color,
  gumroad: $ann-service-gumroad-color,
  status: $ann-status-color,
  supporter: $ann-supporter-color,
  twitter: $ann-service-twitter-color,
);

// Navbar

$ann-navbar-height: 52px;
$ann-navbar-height-mobile: 70px;
