@mixin ann-variables-dark {
  // -------------------------------------------------------------------
  // Annict独自の変数
  // -------------------------------------------------------------------

  --ann-color-sidebar-bg: #{shade-color($gray-800, 25%)};

  // -------------------------------------------------------------------
  // Bootstrap関係の変数
  // -------------------------------------------------------------------

  // Body

  --ann-body-color: #{$gray-200};

  // Links

  --ann-link-color: #{tint-color($link-color, 40%)};
  --ann-link-hover-color: #{tint-color($link-hover-color, 40%)};

  // Components

  --ann-border-color: #{shade-color($border-color, 40%)};

  // Typography

  --ann-hr-color: var(--ann-border-color);

  // Tables

  --ann-table-border-color: var(--ann-border-color);

  // Forms

  --ann-input-bg: #{$gray-900};
  --ann-input-color: var(--ann-body-color);
  --ann-input-border-color: #{$gray-700};
  --ann-input-focus-bg: var(--ann-input-bg);
  --ann-input-focus-color: var(--ann-input-color);
  --ann-form-select-color: var(--ann-input-color);
  --ann-form-select-bg: var(--ann-input-bg);
  --ann-form-select-border-color: var(--ann-input-border-color);

  // Navs

  --ann-nav-link-color: var(--ann-link-color);
  --ann-nav-link-hover-color: var(--ann-link-hover-color);

  // Dropdowns

  --ann-dropdown-border-color: #{shade-color($border-color, 50%)};

  // Cards

  --ann-card-bg: #{$gray-800};
}
