<h3>
  スタッフを登録する
</h3>

<p>
  スタッフはCSV形式で登録することができます。
</p>

<ul>
  <li>
    担当
  </li>
  <li>
    人物IDまたは人物名
  </li>
  <li>
    団体IDまたは団体名
  </li>
</ul>

<p>
  上記の項目を以下のようにカンマ (,) で区切って入力します。
</p>

<p>
  また、人物と団体はどちらか一方を入力します。
</p>

<pre>
// 人物をIDで入力した場合
監督,2900

// 人物を名前で入力した場合
監督,井出安軌

// 団体をIDで入力した場合
アニメーション制作,,59

// 団体を名前で入力した場合
アニメーション制作,,童夢
</pre>

<p>
  左から順に、担当、人物ID (名前)、団体ID (名前) を入力して下さい。
</p>

<p>
  団体ID (名前) は3列目に入力します。
</p>
