<h3>
  「名義」について
</h3>

<p>
  作品がリリースされた当時のスタッフの名前を入力します。
  現在と名前が同じ場合は空欄で大丈夫です。
</p>

<hr>

<h3>
  「担当 (その他)」について
</h3>

<p>
  「担当」の選択肢に該当するものが無かったとき、「その他」を選択し、この欄に担当名を入力します。
</p>

<hr>

<h3>
  「ソート番号」について
</h3>

<p>
  作品一覧ページなどにスタッフの情報が表示されるとき、
  ソート番号が小さいものから順に表示されるようになっています。
  主要なスタッフのソート番号は小さめにして、最初のほうに表示されるようにしてもらえると嬉しいです。
  並び順は基本的に各アニメの公式サイトの掲載順に準拠しています。
</p>
