<% if %w(new create).include?(params[:action]) %>
  <h3>
    登録して良いエピソードについて
  </h3>

  <p>
    Annictには本編がアニメで構成されるエピソードのみ登録することができます。
    例えば以下のようなエピソードはアニメではないため、登録できません。
  </p>

  <ul>
    <li>
      声優やスタッフ本人が出演する実写のみのエピソード
    </li>
  </ul>

  <p>
    Aパートはアニメ、Bパートは声優などが出演する実写パートという形式の
    エピソードがたまにありますが、このようなエピソードは登録することができます。
  </p>

  <hr>

  <%= render "db/works/creation_basis" %>

  <h3>
    エピソードを登録する
  </h3>

  <p>
    話数と話数 (raw)、サブタイトルをカンマ (,) で区切って入力します。
    <br>
    話数 (raw) には話数から文字や記号などを取り除いた数字を指定します。
  </p>

  <pre>
  #1,1,教えてティーチャー
  </pre>

  <p>
    カンマ区切りのエピソードを改行して入力することで、複数のエピソードを一括で登録することができます。
  </p>

  <pre>
  #1,1,教えてティーチャー
  #2,2,もう、お婿にいけません
  #3,3,まずいよ☆先生
  ...
  </pre>

  <p>
    話数のみ登録したい場合 (サブタイトルがないエピソードを登録したいときなど) は、話数のあとにカンマのみを入力します。
  </p>

  <pre>
  #1,1,
  </pre>

  <p>
    サブタイトルのみを登録したい場合は、サブタイトルの前にカンマのみを入力します。
  </p>

  <pre>
  ,,双子が3人?
  </pre>

  <hr>
<% end %>

<h3>
  話数のフォーマットについて
</h3>

<p>
  話数のフォーマットは「第1話」や「Lesson 1」など、作品ごとに異なります。
  そしてこのフォーマットにはその作品の特徴が色濃く出ることがあります。
  <br>
  Annictではそれを尊重したいので、
  公式サイトなどを見て、なるべくその作品で使用されているフォーマットで登録して下さい。
</p>

<p>
  もしフォーマットがわからない、または「1」といった数字のみだった場合は、「第1話」という形で登録して下さい。
</p>

<hr>

<h3>
  「話数 (raw)」について
</h3>

<p>
  文字や記号などが含まれていない数字のみで表された話数を入力します。
  エピソードの合間に総集編などのイレギュラー回が挟まることがあるため、数字は小数も受け付けています。
  <br>
  例えば第1話のエピソードを登録するときは「1」を入力します。自然数を入力したときは自動で小数「1.0」に変換されます。
  第5話と第6話の間に総集編が生まれたときは「5.5」を入力します。
  <br>
  エピソードを数字で管理していないものに関しては無理に入力する必要はありません。
</p>

<% if %w(edit update).include?(params[:action]) %>
  <hr>

  <h3>
    「ソート番号」について
  </h3>

  <p>
    各エピソードを並べて表示するときに、この番号を基準に並べています。
    数字が小さいものから並びます。
  </p>

  <p>
    放送終了後に「12.5話」のようなエピソードがOVAなどで追加されるケースもあるので、
    ソート番号には「話数×100」のように間隔を開けて入力して下さい。
  </p>

  <p>
    例えば第12話のエピソードを編集する場合、12×100=「1200」を入力します。
  </p>
<% end %>
