<div
  class="c-body <%= class_name %>"
  data-controller="body"
  data-body-height="<%= height %>"
>
  <div class="c-body__content" data-body-target="content">
    <%== render_content %>
  </div>

  <div
    class="c-body__read-more-background d-none w-100"
    data-target="body.readMoreBackground"
  ></div>

  <div
    class="c-body__read-more-button d-none text-center w-100"
    data-target="body.readMoreButton"
    data-action="click->body#readMore"
  >
    <div class="c-body__read-more-content small u-fake-link w-100">
      <i class="fal fa-chevron-double-down me-1"></i>
      <%= t "messages._components.body.view_full_text" %>
    </div>
  </div>
</div>
