<div class="c-episode-record-footer">
  <%= render LikeButtonComponent.new(
    resource_name: "Record",
    resource_id: @record.id,
    likes_count: @record.likes_count,
    page_category: "user-home",
    class_name: "mr-3"
  ) %>

  <%= link_to record_path(@record.user.username, @record.id), class: "mr-3" do %>
    <i class="far fa-comment"></i>
    <%= @episode_record.comments_count %>
  <% end %>
</div>
