<%= tag.div(
  class: "alert alert-danger c-error-panel d-none",
  data: { "#{@stimulus_controller}-target": "errorPanel" }
) do %>
  <h4 class="alert-heading">
    <%= t "noun.error" %>
  </h4>

  <%= tag.ul(
    class: "mb-0",
    data: { "#{@stimulus_controller}-target": "errorMessageList" }
  ) %>
<% end %>
