<div
  class="c-flash d-none"
  data-controller="flash"
  data-flash-type="<%= flash_type %>"
  data-flash-message="<%= flash[flash_type] %>"
>
  <div class="alert align-items-center border-0 d-flex mb-0 rounded-0">
    <span class="c-flash__alert-icon h2 mb-0 me-2"></span>
    <span class="c-flash__message flex-grow-1"></span>

    <i class="far fa-times u-cursor-pointer" data-action="click->flash#close"></i>
  </div>
</div>
