<div
  class="c-flash d-none"
  data-controller="flash"
  data-flash-type="<%= flash_type %>"
  data-flash-message="<%= flash[flash_type] %>"
>
  <div class="alert alert-dismissible align-items-center border-0 d-flex mb-0 rounded-0">
    <span class="c-flash__alert-icon h2 mb-0 mr-2"></span>
    <span class="c-flash__message"></span>

    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <i aria-hidden="true" class="fas fa-times"></i>
    </button>
  </div>
</div>
