<% if flash_key %>
  <div class="alert alert-dismissible align-content-center d-flex mb-0 <%= alert_class %>">
    <i class="far h2 mb-0 mr-2 <%= alert_icon_class %>"></i>

    <span>
      <%= flash[flash_key] %>
    </span>

    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <i aria-hidden="true" class="fas fa-times"></i>
    </button>
  </div>
<% end %>
