<span
  class="c-share-to-facebook-button <%= class_name %>"
  data-controller="share-to-facebook-button"
  data-share-to-facebook-button-url="<%= url %>"
  data-share-to-facebook-button-app-id="<%= ENV.fetch("FACEBOOK_APP_ID") %>"
>
  <span class="btn btn-sm u-btn-facebook" data-action="click->share-to-facebook-button#open">
    <div class="small">
      <i class="fab fa-facebook mr-1"></i>
      <%= t "noun.share" %>
    </div>
  </span>
</span>
