<div
  class="c-spoiler-guard"
  data-controller="spoiler-guard2"
  data-action="click->spoiler-guard2#hide"
  data-spoiler-guard2-init-is-spoiler-value="<%= init_is_spoiler %>"
>
  <%= content %>
</div>
