<div class="c-status-content">
  <%= render StatusCardComponent.new(status_entity: status_entity) %>
  <%= render StatusFooterComponent.new(status_entity: status_entity, page_category: page_category) %>
</div>
