<div class="c-status-footer">
  <%= render LikeButtonComponent.new(
      resource_name: "Status",
      resource_id: status_entity.database_id,
      likes_count: status_entity.likes_count,
      page_category: page_category
  ) %>
</div>
