<div class="c-timeline">
  <% activity_groups.each do |activity_group| %>
    <div class="c-timeline__activity py-3 u-underline">
      <div class="row">
        <div class="col-auto pr-0">
          <%= link_to user_path(activity_group.user.username) do %>
            <%= render ProfileImageComponent.new(
                image_url_1x: activity_group.user.avatar_url,
                alt: "@#{activity_group.user.username}"
            ) %>
          <% end %>
        </div>

        <div class="col">
          <% if activity_group.resource_type == "status" %>
            <%= render StatusActivityComponent.new(activity_group: activity_group) %>
          <% elsif activity_group.resource_type == "episode_record" %>
            <%= render EpisodeRecordActivityComponent.new(activity_group: activity_group) %>
          <% elsif activity_group.resource_type == "work_record" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
