<div class="c-timeline">
  <% activity_groups.each do |activity_group| %>
    <div class="c-timeline__activity pt-3 u-underline">
      <% if activity_group.status? %>
        <%= render StatusActivityComponent.new(activity_group: activity_group) %>

      <% elsif activity_group.episode_record? %>
        <%= render EpisodeRecordActivityComponent.new(activity_group: activity_group) %>

      <% elsif activity_group.work_record? %>
        <%= render WorkRecordActivityComponent.new(activity_group: activity_group) %>
      <% end %>
    </div>
  <% end %>
</div>
