<div class="c-work-record-footer">
  <%= render LikeButtonComponent.new(
      resource_name: "WorkRecord",
      resource_id: work_record_entity.database_id,
      likes_count: work_record_entity.likes_count,
      page_category: "user-home",
      class_name: "mr-3"
  ) %>
</div>
