@mixin work($type) {
  .work-content {
    padding: 15px 0;

    .basic-info {
      @include display(flex);

      .left {
        margin-right: 10px;

        @if $type == large {
          @include flex(0 100px);
        }

        @if $type == compact {
          @include flex(0 60px);
        }

        .work-image {
          margin-bottom: 5px;

          img {
            border: 1px solid $color-alto;
          }
        }

        .statistics {
          color: $color-gunsmoke;
          font-size: 10px;
          margin-top: 3px;
          text-align: center;

          @if $type == compact {
            @include display(flex);
            @include justify-content(center);
          }

          i {
            margin-right: 3px;

            @if $type == compact {
              display: block;
            }
          }

          .watchers-count,
          .records-count {
            @if $type == compact {
              width: 25px;
            }
          }

          .watchers-count {
            margin-right: 7px;
          }
        }
      }

      .right {
        @include flex(1);

        h2 {
          font-size: 14px;
          font-weight: normal;
          margin-bottom: 10px;
          margin-top: 0;
        }
      }
    }

    @if $type == large {
      .detail {
        margin-top: 10px;

        .friends {
          .title {
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 3px;
          }

          ul {
            -moz-padding-start: 0;
            -webkit-padding-start: 0;
            list-style-type: none;

            li {
              display: inline-block;
              margin: 0 3px 3px 0;

              &.more {
                font-size: 12px;
                margin-left: 5px;
              }
            }
          }
        }

        .casts,
        .staffs,
        .work-organizations {
          .title {
            font-size: 13px;
            font-weight: bold;
          }

          ul {
            -moz-padding-start: 0;
            -webkit-padding-start: 0;
            list-style-type: none;

            li {
              display: inline;
              font-size: 13px;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
