.p-character-list {
  &__row {
    .col-xs-6:first-child {
      padding-right: .5rem;
    }

    .col-xs-6:last-child {
      padding-left: .5rem;
    }
  }

  &__row:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__character-image {
    @include flex-basis(45px);
    @include flex-grow(0);
  }

  &__character-name {
    line-height: 1.2;
  }
}
