.p-staff-list {
  &__row {
    .col-xs-6:first-child {
      padding-right: .5rem;
    }

    .col-xs-6:last-child {
      padding-left: .5rem;
    }
  }

  &__row:not(:last-child) {
    margin-bottom: 1rem;
  }
}
