.p-top-hero {
  height: 300px;
  position: relative;

  &__bg-image {
    @include filter(brightness(50%));
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  &__content {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    h1 {
      color: $color-white;
      margin-top: 1rem;
    }
  }

  &__description {
    color: $color-white;
  }
}
