<button
  class="c-program-list-modal-button <%= @class_name %>"
  data-action="program-list-modal-button#openModal"
  data-controller="program-list-modal-button"
  data-program-list-modal-button-anime-id="<%= @anime_id %>"
  type="button"
>
  <%= content %>
</button>
