<button
  class="c-receive-channel-button <%= receive_channel_button_class_name %>"
  data-action="click->receive-channel-button#toggle"
  data-controller="receive-channel-button"
  data-receive-channel-button-channel-id-value="<%= @channel.id %>"
  data-receive-channel-button-init-received-value="<%= @init_received %>"
  data-receive-channel-button-not-received-button-class="btn-outline-info"
  data-receive-channel-button-received-button-class="btn-info"
>
  <span data-receive-channel-button-target="iconWrapper">
    <i
      class="fal <%= icon_name %>"
    ></i>
  </span>
</button>
