<button
  class="c-skip-episode-button <%= skip_episode_button_class_name %>"
  data-controller="skip-episode-button"
  data-skip-episode-button-episode-id-value="<%= @episode_id %>"
  data-skip-episode-button-loading-class="c-skip-episode-button--loading"
  data-action="click->skip-episode-button#skip"
>
  <span class="c-skip-episode-button__spinner spinner-border spinner-border-sm"></span>
  <i class="far fa-forward"></i>
</button>
