.ann-status-selector {
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;

  select {
    @include appearance(none);
    background-color: $color-pelorous;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    height: 35px;
    outline: none;
    padding-left: 7px;
    width: 130%;
  }

  i {
    font-size: 15px;
    position: absolute;
    right: 7px;
    top: 9px;
  }
}
