.ann-status-selector {
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;

  > .selector {
    position: relative;

    select {
      @include appearance(none);
      background-color: $color-pelorous;
      border-radius: 0;
      border: 0;
      cursor: pointer;
      height: 35px;
      outline: none;
      padding-left: 7px;
      width: 130%;
    }

    i {
      font-size: 15px;
      position: absolute;
      right: 7px;
      top: 9px;
    }
  }

  > .loader {
    background-color: rgba(255, 255, 255, 0.85);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    &.loading-transition {
      line-height: 35px;
      text-align: center;
      transition: all .1s ease-out;
    }

    &.loading-enter,
    &.loading-leave {
      opacity: 0;
    }

    > i {
      color: $color-pelorous;
    }
  }
}
