.ann-record-rating {
  @include display(flex);
  @include justify-content(space-between);

  > .rating {
    @include flex-basis(95px);
    @include flex-grow(0);
    margin-right: 7px;

    > .stars {
      color: $color-stars;
    }

    > .text {
      font-size: 13px;
      margin-left: 3px;
    }
  }

  > input {
    @include flex-grow(1);
    width: initial;
  }
}
