.ann-modal {
  &-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .1s ease-out;
    z-index: 100;
  }

  &-content {
    background-color: #fff;
    border-radius: 2px;
    display: none;
    left: 50%;
    margin-left: -250px;
    opacity: 0;
    position: fixed;
    width: 500px;
    z-index: 110;
  }
}
