#about-works-image {
  .description {
    margin-bottom: 15px;

    .detail {
      color: $color-gunsmoke;
      font-size: 10px;
    }
  }

  .amazon-btn {
    text-align: center;

    i {
      margin-right: 7px;
    }
  }
}
