body.pages {
  padding-top: 60px;

  > .app__main {
    > .content {
      @include content(narrow);
      @include card;
      padding: 14px 0;

      h1,
      h2 {
        font-family: "Noto Sans JP", sans-serif;
        font-weight: 300;
        text-align: center;
      }

      h1 {
        font-size: 26px;
        margin-top: 0;
      }

      h2 {
        font-size: 18px;
        margin-top: 35px;

        &:first-child {
          margin-top: 20px;
        }
      }

      .screenshot {
        text-align: center;

        img {
          border: 1px solid $color-alto;
        }
      }
    }
  }
}
