body.works-search {
  .c-tabs {
    @include tabs(independent);
  }

  .c-content {
    @include content(wide);
    @include card;

    form {
      padding: 15px 0;
      text-align: center;

      .form-group {
        margin-bottom: 10px;
      }

      i {
        margin-right: 7px;
      }
    }
  }

  .works {
    @include content(wide);
    margin-bottom: 20px;

    .work {
      @include card;
      @include work(large);
    }
  }
}
