body.checkins-show {
  .a-content {
    margin-top: 60px;

    h2 {
      font-family: "Noto Sans JP", sans-serif;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
    }

    .a-body {
      .a-body-main {
        padding: 14px 0;
      }
    }
  }
}
