h4 作品画像について
p Annict内で表示している作品画像は、#{link_to("Amazonアソシエイト・プログラムの限定的ライセンス", "https://affiliate.amazon.co.jp/gp/associates/agreement", target: "_blank")}に基いて表示しています。
p 作品画像を登録するときは、Amazonに掲載されている画像を、その画像が掲載されている商品ページのURLと一緒に登録して下さい。

h4 商品名について
p 商品名は、Amazonの商品ページのタイトルを入力して下さい。例えば#{link_to("「SHIROBAKO」のBlu-ray第1巻", "http://www.amazon.co.jp/dp/B00OJXVVDY", target: "_blank")}の商品画像をアップロードする場合は、「SHIROBAKO 第1巻 (初回生産限定版) [Blu-ray]」と入力します。

h4 作品画像ついて
p Annictでは作品画像を縦横1対1の比率で表示しています。お手数ですが、画像は縦横1対1にトリミングした上でアップロードしてください。m(__)m
