$ann-status-selector-color-dark: shade-color($green, 20%);

.c-status-selector {
  position: relative;

  select {
    background-color: rgba(0, 0, 0, 0);
    background: none;
    border: solid 1px $green;
    color: $green;
    cursor: pointer;
    font-size: 0.9rem;

    @include color-scheme(dark) {
      border: solid 1px $ann-status-selector-color-dark;
    }
  }

  svg {
    margin-top: -8px;
    pointer-events: none; // Caretをクリックしたときセレクトボックスを開くようにする
    position: absolute;
    right: 10px;
    top: 50%;

    path {
      fill: $green;

      @include color-scheme(dark) {
        fill: $ann-status-selector-color-dark;
      }
    }
  }

  &--selected {
    select {
      background-color: $green;
      color: $white;

      @include color-scheme(dark) {
        background-color: $ann-status-selector-color-dark;
      }
    }

    svg {
      path {
        fill: $white;
      }
    }
  }
}
