.c-episode-row {
  @each $size in 20 40 60 {
    &__w#{$size} {
      width: 0% + $size;
    }
  }

  &__stars {
    .fa-star,
    .fa-star-half-o {
      color: $ann-color-yellow;
    }

    .fa-star-o {
      color: $ann-color-navy-l3;
    }
  }

  &__avatar,
  &__icon {
    text-align: center;
    width: 20px;
  }
}
