.c-episode-row {
  &__stars {
    .fa-star,
    .fa-star-half-o {
      color: $ann-color-yellow;
    }

    .fa-star-o {
      color: $ann-color-navy-l3;
    }
  }

  &__avatar,
  &__icon {
    text-align: center;
    width: 20px;
  }

  &__tracking-checkbox {
    line-height: map-get($ann-line-height-sizes, 0);
    padding: .5rem 0 .5rem 1rem !important;
    width: 20px;
  }
}
