.c-flash {
  cursor: pointer;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;

  &--expand-enter,
  &--expand-leave-active {
    top: -500px;
    transition: top .8s linear;
  }

  &--expand-enter-active,
  &--expand-leave {
    top: 0;
  }

  i {
    font-size: 2.2rem;
    margin-right: .5rem;
    position: relative;
    top: .5rem;
  }
}
