// http://css-spinners.com/#/spinner/throbber/

$color-loading-background-0: #ebe2e4;
$color-loading-background-10: #e9889f;

@keyframes throbber {
  0% {
    background: $color-loading-background-0;
  }

  10% {
    background: $color-loading-background-10;
  }

  40% {
    background: $ann-color-mizuho;
  }
}

.c-loading {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;

  // :not(:required) hides these rules from IE9 and below
  &__core:not(:required) {
    animation: throbber 2000ms 300ms infinite ease-out;

    background: $color-loading-background-0;
    display: inline-block;
    height: 1.5em;
    margin: 0 1.6em;
    position: relative;
    text-indent: -9999px;
    width: .9em;
  }

  &__core:not(:required)::before,
  &__core:not(:required)::after {
    background: $color-loading-background-0;
    content: "\x200B";
    display: inline-block;
    height: 1.5em;
    position: absolute;
    top: 0;
    width: .9em;
  }

  &__core:not(:required)::before {
    animation: throbber 2000ms 150ms infinite ease-out;

    left: -1.6em;
  }

  &__core:not(:required)::after {
    animation: throbber 2000ms 450ms infinite ease-out;

    right: -1.6em;
  }
}
