.c-record-rating {
  display: flex;
  justify-content: space-between;

  &__stars-wrapper {
    flex-basis: 110px;
    flex-grow: 0;
  }

  &__stars {
    color: $ann-color-yellow;
  }

  &__range {
    flex-grow: 1;
    width: initial;
  }
}
