.c-spinner {
  border: 0;
  cursor: default;
  position: relative;
  transition: all 0s linear;
  z-index: 100;

  &::before {
    background: rgba(255, 255, 255, .8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  &::after {
    animation: ann-spin .7s infinite linear;
    border-color: $ann-color-mizuho $ann-color-green;
    border-radius: 50%;
    border-style: solid;
    border-width: .2rem;
    content: "";
    height: 1rem;
    left: 50%;
    margin: -.5rem 0 0 -.5rem;
    position: absolute;
    top: 50%;
    width: 1rem;
    z-index: 101;
  }

  &--large {
    &::after {
      height: 2rem;
      margin: -1rem 0 0 -1rem;
      width: 2rem;
    }
  }
}

@keyframes ann-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
