.c-video-thumbnail {
  &:hover {
    cursor: pointer;

    i {
      color: $ann-color-mizuho;
    }
  }

  position: relative;

  i {
    color: $ann-color-white;
    font-size: 50px;
    height: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    transition: color .2s linear;
    width: 50px;
  }
}
