.c-record-progress {
  border-top: solid 1px $color-alto;
  height: 24px;
  position: relative;

  .background {
    @for $i from 1 through 6 {
      &.shirobako-#{$i} {
        background-color: nth($colors-shirobako, $i);
        color: #ffffff;
      }
    }

    height: 24px;
    position: absolute;
  }

  .foreground {
    color: $color-gunsmoke;
    font-size: 10px;
    line-height: 24px;
    position: relative;

    .ratio {
      text-align: center;
    }

    .round {
      margin-right: 5px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
