.checkin {
  .media {
    .media-body {
      width: 100%;

      .top {
        height: 17px;
        line-height: 17px;

        .name {
          margin-right: 5px;
        }

        .pull-right {
          font-size: 12px;

          i.modified {
            color: $color-gray-dark-light;
            margin-right: 5px;
          }

          .created-at {
            a {
              color: $color-gray-dark-light;
            }
          }
        }
      }

      .middle {
        margin: 7px 0 20px 0;
      }

      .bottom {
        font-size: 12px;

        .top {
          margin-bottom: 5px;

          .like-button {
            margin-right: 10px;
          }

          a.comment-button {
            color: $color-gray-dark-light;

            i {
              margin-right: 5px;
            }
          }
        }

        .bottom {
          .edit-button, .delete-button {
            i {
              margin-right: 3px;
            }
          }

          .edit-button {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
