.flash {
  @include transition(all linear 1s);
  height: 0;
  left: 0;
  position: fixed;
  top: -500px;
  width: 100%;
  z-index: 1050;

  @if $browser == mobile {
    width: 320px;
  }

  &.flash-enter {
    top: 0;
  }

  .alert {
    border: none;
    margin-bottom: 0px;
    padding: 0;

    .content {
      line-height: 48px;
      margin: 0 auto;
      max-width: 500px;
      padding-left: 10px;

      i {
        font-size: 30px;
        margin-right: 7px;
        position: relative;
        top: 5px;
      }
    }
  }
}
