.twitter-click-counter, .facebook-click-counter {
  font-size: 10px;

  i {
    margin-right: 3px;
  }
}

.twitter-click-counter {
  color: $color-twitter;
}

.facebook-click-counter {
  color: #31679a;
}
