.tips {
  .wrapper {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 20px;
    }

    .tip {
      background-color: #ae8572;
      padding: 7px;

      &:hover {
        cursor: pointer;
      }

      .title {
        color: #ffffff;
        float: left;

        .icon {
          margin-right: 7px;
        }

        .text {
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .hide-button {
        color: #ffffff;
        float: right;
        margin-right: 3px;
      }
    }
  }
}
