body.checkins-show,
body.comments-create {
  .a-content {
    margin-top: 48px;

    h2 {
      font-family: "Noto Sans JP", sans-serif;
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 14px;
      text-align: center;
    }
  }
}
