body.episodes-show,
body.checkins-create {
  .a-content {
    margin-top: 48px;

    .a-header {
      background-position: center;
      background-size: cover;
      height: 280px;
      position: relative;

      .a-header-content {
        position: absolute;
        top: 130px;

        h1 {
          color: #fff;
          line-height: 1;
          margin-bottom: 0;

          .a-work-title,
          .a-episode .a-number,
          .a-episode .a-title {
            background-color: rgba(0, 0, 0, 0.7);
            display: inline-block;
            padding: 5px;
          }

          .a-work-title {
            line-height: 0;

            a {
              color: $color-gunsmoke;
              font-size: 14px;
              line-height: 1;
            }
          }

          .a-episode {
            font-size: 20px;
          }
        }

        .a-records-count {
          background-color: rgba(0, 0, 0, 0.7);
          color: #fff;
          display: inline-block;
          font-size: 14px;
          padding: 0 5px 5px 5px;

          i {
            color: #64e86f;
            margin-right: 5px;
          }
        }
      }

      .a-prev-episode,
      .a-next-episode {
        background-color: rgba(224, 86, 118, 0.9);
        display: inline-block;
        font-size: 14px;
        padding: 3px 5px;
        position: absolute;
        top: 255px;

        a {
          color: #fff;
        }
      }

      .a-prev-episode {
        i {
          margin-right: 5px;
        }
      }

      .a-next-episode {
        right: 0;

        i {
          margin-left: 5px;
        }
      }
    }

    > .card {
      padding-bottom: 14px;

      .a-record-status {
        padding: 7px 0;

        .a-status {
          text-align: center;

          .a-count {
            font-size: 16px;
          }

          .a-text {
            color: $color-gunsmoke;
            font-size: 12px;
          }
        }
      }

      .ann-welcome-to-annict {
        margin-top: 21px;
      }

      .a-record-form {
        margin-bottom: 3px;

        .ann-record-rating {
          margin-bottom: 7px;
        }

        textarea {
          margin-bottom: 3px;
        }

        .a-record-button {
          i {
            margin-right: 5px;
          }
        }
      }

      .a-user-records {
        h2 {
          font-family: "Noto Sans JP", sans-serif;
          font-size: 14px;
          font-weight: 300;
          margin-bottom: 14px;
          text-align: center;
        }
      }

      .a-no-records {
        i {
          margin-right: 5px;
        }
      }
    }
  }
}
