.notifications-index {
  .notification {
    .top {
      .username, .episode-number {
        margin-right: 3px;
      } 

      .work-title, .checkin {
        margin: 0 3px;
      }
    }

    .bottom {
      font-size: 12px;
      margin-top: 10px;

      .created-at {
        color: $color-gray-dark-light;
      }
    }
  }
}