- current_channel_id = current_user.channel_works.current_channel(work).try(:id).presence || nil

select.ani-channel-selector data-work-id="#{work.id}" data-channel-id="#{current_channel_id}" data-mini-selector="#{mini}"
  = options_for_select(work.channels.pluck(:name, :id).insert(0, t('words.channel')), current_channel_id)