- current_channel_id = current_user.channel_works.current_channel(work).try(:id).presence || nil
- channels = work.channels.map { |c| { id: c.id, name: c.name } }

= react_component('Annict.Components.ChannelSelector', workId: work.id, currentChannelId: current_channel_id, isMini: mini, channels: channels)
