- title = "人気アニメ一覧"
- description = meta_description("Annictユーザに人気のアニメをチェック！")
- keywords = meta_keywords("人気", "評判", "ランキング")
- set_meta_tags(title: title, description: description, keywords: keywords, reverse: true)

= render "application/v1/navbar"
= render "nav"

= render "works", works: @works, user: current_user, compact: false

= render "application/v2/components/footer"

- content_for :parts do
  = render "application/v2/components/work_friends"
  = render "application/v2/components/status_selector"
