- content_for :head
  script src="https://gumroad.com/js/gumroad.js"

h1.text-center.mt-3.mb-4
  | Annictサポーター

p
  | 「Annictサポーター」はAnnictファンのためのサブスクリプションプログラムです。
  | 毎月または毎年お支払い頂くことで加入でき、Annictの運営をサポート頂けます。(主にサーバ費用)
p
  | サポーターになると以下の特典が得られます。

h2.h4.text-center.my-5.fw-bold
  | 特典

.row.mb-3
  .col-6.offset-3
    h3.h4.fw-bold
      | プロフィールページなどにサポーターバッジが表示されます
    p.mb-0
      | サポーターであることを示すバッジが表示されるようになります。
      br
      small
        | (オプションで非表示にできます)

h2.h4.text-center.my-5.fw-bold
  | 価格とお支払い方法について

p
  | サポータープログラムは ¥290/月 または ¥2,900/年 (¥242/月) で加入することができます。
  | 年額でお支払い頂くと2ヶ月分無料になります。
  br
  | ※支払いは最新の為替レートに基づき米ドルで行われます。
p.mb-0
  | 決済には「<a href="https://gumroad.com" target="_blank">Gumroad</a>」を利用しており、
  | クレジットカードまたはPayPalを利用してお支払い頂けます。
  | サブスクリプションはGumroadのサイトからいつでもキャンセルすることができます。

.my-5.text-center
  a.btn.btn-primary href="https://gum.co/AnnictJP"
    i.far.fa-shopping-cart.me-2
    | Gumroadで支払う

h2.h4.text-center.my-5.fw-bold
  | Gumroadとの連携

p.mb-0
  | どのGumroadアカウントでお支払い頂いたのかを知るため、
  | AnnictのアカウントとGumroadのアカウントを連携させる必要があります。

.my-5.text-center
  - if user_signed_in? && current_user.authorized_to?(:gumroad)
    button.btn.u-btn-gumroad disabled=""
      i.far.fa-link.me-2
      | Gumroadと連携しています
  - else
    = button_to user_gumroad_omniauth_authorize_path(back: supporters_path), class: "btn u-btn-gumroad", data: { turbo: "false" } do
      i.far.fa-link.me-2
      | Gumroadと連携する

- if user_signed_in?
  h2.h4.text-center.my-5.fw-bold
    | サポーター情報

  - if current_user.supporter?
    p
      | サポータープログラムへのご参加ありがとうございます！サポーターとしてAnnictにログインしています。

    dl.row.mb-0
      dt.col-6.text-end
        | Gumroad ID
      dd.col-6
        = current_user.gumroad_subscriber.gumroad_id
      dt.col-6.text-end
        | 参加日時
      dd.col-6
        = display_time(current_user.gumroad_subscriber.gumroad_created_at)
      - if current_user.gumroad_subscriber.gumroad_cancelled_at.present?
        dt.col-6.text-end
          | キャンセル日時
        dd.col-6
          = display_time(current_user.gumroad_subscriber.gumroad_cancelled_at)
  - else
    p
      | まだサポーターになっていないようです。
    - if user_signed_in? && current_user.authorized_to?(:gumroad)
      p
        | もしGumroadでの支払いがお済みの場合は、Gumroadから最新の情報を取得するため、下の「Gumroadと再連携する」ボタンを押してください。

      .mt-5.mb-4.text-center
        = button_to user_gumroad_omniauth_authorize_path(back: supporters_path), class: "btn u-btn-gumroad", data: { turbo: "false" } do
          i.far.fa-link.me-2
          | Gumroadと再連携する
    - else
      p
        | もしGumroadでの支払いがお済みの場合は、Gumroadとの連携をお願いします。
