- title = "放送予定"
- description = meta_description
- keywords = meta_keywords
- set_meta_tags title: title, description: description, keywords: keywords, reverse: true

= render "application/v3/menu"

ann-programs

- content_for :parts do
  = render "application/v3/components/programs"
  = render "application/v2/components/record_rating"
