<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/head" %>
  </head>
  <body>
    <div class="l-simple">
      <%= FlashComponent.new(self, flash: flash).render %>
      <%= yield %>
    </div>
  </body>
</html>
