<% title = t "head.title.db.series.edit", title: @series.local_name %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container py-3">
  <div>
    <h1>
      <%= title %>
    </h1>
  </div>

  <div class="mt-3">
    <%= render "db/series/subnav", series: @series %>
  </div>

  <div class="gx-3 row mt-3">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <%= render "form", model: @series, form_url: db_series_detail_path(@series), form_method: :patch %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <%= render "sidebar" %>
    </div>
  </div>
</div>
