<h3>
  作品 / エピソード登録の基準
</h3>

<p>
  OVAなどを登録するとき、作品として登録するかエピソードとして登録するか判断に迷うときがあります。
  Annictでは以下のような基準で判断しています。
</p>

<h4>
  1. OVA (OAD)
</h4>

<p>
  TVシリーズが過去存在しない単発のOVAは作品として登録します。
  また、TVシリーズと関連するOVAの場合も、メディアがTVとOVAとで異なるため、別作品として登録します。
</p>

<h4>
  2. 映画
</h4>

<p>
  OVAと同様にメディアが異なるため、話数がTVシリーズ準拠でも別作品として登録します。
  3部作のような場合は、3つの作品として登録します。(1部ごとにリリース時期やスタッフが違ったりするため)
</p>

<p>
  判断に迷ったりしたときは<a href="/forum">Annict Forum</a>で他の編集者さんや管理者までご相談ください。m(__)m
</p>

<hr>
