h4 放送時期
p 作品が最初に放送(放映、リリース)された時期を選択します。

h4 しょぼかるID
p == "#{link_to("しょぼいカレンダー", "http://cal.syoboi.jp/", target: "_blank")}というサービスの各作品に設定されているIDを入力します。IDは作品詳細ページのURLに含まれています。"
p == "例えば#{link_to("SHIROBAKO", "http://cal.syoboi.jp/tid/3524", target: "_blank")}の場合、「3524」がしょぼかるIDになります。"
