= render "db/works/creation_basis"

h4 リリース時期
p 作品が最初に放送、放映、配信、販売された時期を選択します。

hr

h4 しょぼかるID
p == "#{link_to("しょぼいカレンダー", "http://cal.syoboi.jp/", target: "_blank")}というサービスの各作品に設定されているIDを入力します。IDは作品詳細ページのURLに含まれています。"
p == "例えば#{link_to("SHIROBAKO", "http://cal.syoboi.jp/tid/3524", target: "_blank")}の場合、「3524」がしょぼかるIDになります。"

hr

h4 リリース時期とリリース時期 (大体)
p 新作のアニメ映画などは「2016年公開」というような曖昧な情報を公開することがあるので、そういうときに「リリース時期 (大体)」に「2016年」などと入力します。
p
  | 「リリース時期」と「リリース時期 (大体)」を両方入力すると、作品ページでは「リリース時期」を優先して表示するようになっています。
  | なので、正確なリリース時期がわかっている場合は「リリース時期」のみ入力して頂ければ大丈夫です。
