<% title = t "head.title.db.works.new" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container py-3">
  <div>
    <h1>
      <%= title %>
    </h1>
  </div>

  <div class="gx-3 row mt-3">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <%= render "form", model: @work, form_url: db_work_list_path, form_method: :post %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <%= render "sidebar" %>
    </div>
  </div>
</div>
