<% title = t "head.title.db.works.new" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container-fluid py-3">
  <div class="mb-3">
    <h1>
      <%= title %>
    </h1>
  </div>

  <div class="mb-3 row">
    <div class="col-6">
      <%= render "form", model: @work, form_url: db_work_list_path, form_method: :post %>
    </div>
    <div class="col-6">
      <%= render "sidebar" %>
    </div>
  </div>
</div>
