- action_user = notification.action_user
- action_name = link_to(action_user.profile.name, profile_path(action_user.username))

span.me-1
  = action_user.name_link
| があなたをフォローしました

.small.text-muted.mt-2
  = local_time_ago_in_words(notification.created_at)
