- action_user = notification.action_user
- action_name = link_to(action_user.profile.name, user_path(action_user.username))

span.mr-1
  = action_user.decorate.name_link
| があなたをフォローしました

.small.text-muted.mt-zp5
  = local_time_ago_in_words(notification.created_at)
