- action_user = notification.action_user
- like = notification.trackable
- work_record = like.recipient

span.me-1
  = action_user.name_link
| が
span.mx-1
  = work_record.anime.title_link
| への
= link_to "記録", record_path(work_record.user.username, work_record.record)
| に「いいね！」しました

.small.text-muted
  = local_time_ago_in_words(notification.created_at)
