- action_user = notification.action_user
- like = notification.trackable
- review = like.recipient

span.mr-zp25
  = action_user.decorate.name_link
| が
span.mx-zp25
  = review.work.decorate.title_link
| への
= link_to "レビュー", review_path(review.user.username, review)
| に「いいね！」しました

.small.text-muted
  = local_time_ago_in_words(notification.created_at)
