.l-sidebar {
  background-color: $color-mine-shaft;
  float: left;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 14rem;

  a {
    color: $color-white;

    &:hover {
      color: $color-white;
      text-decoration: none;
    }

    &.c-lockup {
      height: 30px;
      line-height: 30px;
    }
  }
}

.l-sidebar__menu {
  a {
    padding: .5rem 0;
    width: 100%;
  }
}

.l-sidebar__annict-link {
  background-color: $color-mizuho;
  bottom: 0;
  padding: .3rem;
  position: absolute;
  width: 100%;
}
