.l-topbar {
  background-color: $white;
  box-shadow: 0 2px 2px -2px $cadet-gray;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 1rem;

  h1 {
    font-size: 1.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
  }
}
