.l-topbar {
  background-color: $ann-color-white;
  box-shadow: 0 2px 2px -2px $ann-color-cadet;
  height: $ann-navbar-height;
  line-height: $ann-navbar-height;

  .c-topbar-title {
    height: $ann-navbar-height;
    line-height: $ann-navbar-height;
  }
}
