.l-topbar {
  background-color: $color-white;
  box-shadow: 0 2px 2px -2px $color-cadet;
  height: 4.5rem;
  line-height: 4.5rem;

  .c-topbar-title {
    height: 4.5rem;
    line-height: 4.5rem;
  }
}
