body.works-show {
  padding-top: 60px;

  .content {
    @include content(narrow);
    @include card;

    .casts, .staffs {
      table {
        width: 100%;

        tr {
          th {
            font-weight: normal;
            padding: 5px 10px 5px 0;
            text-align: right;
            width: 50%;
          }

          td {
            padding: 5px 0 5px 10px;
            width: 50%;
          }
        }
      }
    }
  }
}
