- title = t "head.title.users.following", profile_name: @user.profile.name, username: @user.username
- description = meta_description(t("head.meta.description.users.following", profile_name: @user.profile.name, username: @user.username))
- keywords = meta_keywords(@user.profile.name, @user.username)
- image_url = ann_image_url(@user.profile, :image, size: "640x")
- set_meta_tags(title: title, description: description, keywords: keywords, og: { description: description }, twitter: { description: description }, reverse: true, prefix: false)


= render "users/low_profile_header", user: @user
= render "users/follow_nav", user: @user

.p-application__content.mb-4
  .row.justify-content-center.my-3
    .c-card.col-6
      = render "users/user_list", users: @users

= render "application/components/footer"
