- title = t "head.title.users.followers", name: @user.profile.name, username: @user.username
- description = meta_description(t("head.meta.description.users.followers", name: @user.profile.name, username: @user.username))
- keywords = meta_keywords(@user.profile.name, @user.username)
- image_url = ann_image_tag(@user.profile, :tombo_avatar, size: "640x")
- set_meta_tags(title: title, description: description, keywords: keywords, og: { title: title, description: description, image: image_url }, reverse: true, prefix: false)
- set_page_category "users_followers"

= render "application/components/navbar", transparent: true
= render "users/low_profile_header", user: @user
= render "users/follow_nav", user: @user
= render "users/user_list", users: @users
= render "application/components/footer"

- content_for :js_templates
  = render "application/js_templates/follow_button"
