@each $name,
  $color-value
    in (
      work: var(--ann-work-color),
      average: var(--ann-rating-average-color),
      bad: var(--ann-rating-bad-color),
      completed: var(--ann-status-completed-color),
      dropped: var(--ann-status-dropped-color),
      good: var(--ann-rating-good-color),
      great: var(--ann-rating-great-color),
      mizuho: var(--ann-mizuho-color),
      on-hold: var(--ann-status-on-hold-color),
      plan-to-watch: var(--ann-status-plan-to-watch-color),
      season-autumn: var(--ann-season-autumn-color),
      season-spring: var(--ann-season-spring-color),
      season-summer: var(--ann-season-summer-color),
      season-unknown: var(--ann-season-unknown-color),
      season-winter: var(--ann-season-winter-color),
      slot-finished: var(--ann-slot-finished-color),
      slot-today: var(--ann-slot-today-color),
      slot-tomorrow: var(--ann-slot-tomorrow-color),
      slot-yesterday: var(--ann-slot-yesterday-color),
      supporter: var(--ann-supporter-color),
      watching: var(--ann-status-watching-color)
    )
{
  .u-bg-#{$name} {
    background-color: $color-value !important;
  }
}
