<h3>
  PVを登録する
</h3>

<p>
  PVはCSV形式で登録することができます。
</p>

<ul>
  <li>
    動画のURL
  </li>
  <li>
    タイトル
  </li>
</ul>

<p>
  上記の項目を以下のようにカンマ (,) で区切って入力します。
</p>

<pre>
https://www.youtube.com/watch?v=nGgm5yBznTM,第1弾
</pre>

<p>
  左から順に、動画URL、タイトルを入力して下さい。
</p>

<p>
  タイトルは「第1弾」や「PV 1」など、その動画が判別できるものを入力して下さい。
</p>
