- title = t "head.title.settings.tokens.new"
- set_meta_tags(title: title, reverse: true, prefix: false)

= render "v3/settings/subnav"

h2.h4.text-center.my-4.fw-bold = title
.c-card.u-mw-600.mx-auto.p-3.mt-3.mb-4
  = render "v3/settings/tokens/form", token: @token
