body.works-popular {
  .c-tabs {
    @include tabs(independent);
  }

  .works {
    @include content(narrow);
    margin-bottom: 20px;

    .work {
      @include card;
      @include work(large);
      margin: 20px 0;

      .ann-status-selector {
        margin-left: 0;
      }
    }
  }
}
