- title = t "head.title.options.index"
- set_meta_tags(title: title, reverse: true, prefix: false)
- set_page_category "options_index"

= render "application/components/navbar"
= render "settings/subnav"

.p-application__content
  .c-card.u-mw-600.mx-auto.mt-1.mb-2.p-1
    = render "options/form"

= render "application/components/footer"
