- title = t "head.title.options.index"
- set_meta_tags(title: title, reverse: true, prefix: false)


= render "settings/subnav"

.p-application__content
  .c-card.u-mw-600.mx-auto.mt-3.mb-4.p-3
    = render "options/form"

= render "application/components/footer"
