@mixin btn($color, $size: normal, $type: normal, $icon: false) {
  border-radius: 2px;

  .text {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }

  @if $size == mini {
    padding: 5px 12px;
  } @else {
    padding: 10px 16px;
  }

  @if $type == transparency {
    border: solid 1px $color;
    color: $color;
  } @else {
    background-color: $color;
    color: #fff;
  }

  @if $icon {
    @include display(flex);

    i {
      @include flex-basis(20px);
      @include flex-shrink(0);
      display: inline-block;
      height: 20px;
      line-height: 20px;
    }

    .text {
      width: 100%;
    }
  }
}
