<h3>
  「これ以降の放送日時もずらす」について
</h3>

<p>
  放送休止等で放送が一週間延期されることがあります。
  そのようなときは「放送日時」に7日足し、「これ以降の放送日時もずらす」にチェックを入れて更新します。
</p>
<p>
  「これ以降の放送日時もずらす」にチェックを入れると、「放送日時」に加えられた差分を後続の放送予定にも適用します。
  上記の例だと、後続の放送予定も7日後ろにずれます。逆に7日引いてチェックを入れて更新すると、後続の放送予定も7日前倒しされます。
</p>

<p>
  時間だけの調整にも対応しています。
  例えば初回は午前0時から始まり、2話以降は午前0時半から始まるという作品があったとき、
  1クール分の放送予定を午前0時として作成しておき、2話の放送日時を午前0時半に変更して「これ以降の放送日時もずらす」にチェックを入れて更新すると、
  3話以降も午前0時半になります。
</p>

<hr>

<h3>
  「イレギュラー回」について
</h3>

<p>
  通常のエピソードは第1話、第2話…と放送の回数だけ話数が増えていきます。
  ただ総集編など、連番が付与されないエピソードが途中で入ることがあります。
  <br>
  (第3.5話など小数で表記されるエピソードも総集編とみなします)
</p>

<p>
  こういった自然数の連番が付与されないエピソードを、Annictでは「イレギュラー回」として扱います。
  エピソードを生成するとき、放送予定の「回数」を話数として登録するため、帳尻を合わせるためこうしています。
  <br>
  (『回数 - イレギュラー回の個数』を話数としている)
</p>

<p>
  イレギュラー回が差し込まれたときは、その日の放送予定の「イレギュラー回」チェックボックスにチェックを入れます。
</p>
