<h3>「イレギュラー回」について</h3>
<p>
  通常のエピソードは第1話、第2話…と放送の回数だけ話数が増えていきます。
  ただ総集編など、連番が付与されないエピソードが途中で入ることがあります。
  <br>
  (第3.5話など小数で表記されるエピソードも総集編とみなします)
</p>
<p>
  こういった自然数の連番が付与されないエピソードを、Annictでは「イレギュラー回」として扱います。
  エピソードを生成するとき、放送予定の「回数」を話数として登録するため、帳尻を合わせるためこうしています。
  <br>
  (『回数 - イレギュラー回の個数』を話数としている)
</p>
<p>
  イレギュラー回が差し込まれたときは、その日の放送予定の「イレギュラー回」チェックボックスにチェックを入れます。
</p>
