.c-bulk-watch-episodes-button {
  $root: &;

  &__spinner {
    display: none;
  }

  &--loading {
    .fa-check-double {
      display: none;
    }

    #{$root}__spinner {
      display: inline-block;
    }
  }
}
