<h3>
  キャストを登録する
</h3>

<p>
  キャストはCSV形式で登録することができます。
</p>

<ul>
  <li>
    キャラクターIDまたはキャラクター名
  </li>
  <li>
    人物IDまたは人物名
  </li>
</ul>

<p>
  上記の項目を以下のようにカンマ (,) で区切って入力します。
</p>

<pre>
// IDで入力した場合
2505, 327

// 名前で入力した場合
草薙桂, 保志総一朗
</pre>

<p>
  左から順に、キャラクターID (名前)、人物ID (名前)を入力して下さい。
</p>
