<h3>
  「名義」について
</h3>

<p>
  作品がリリースされた当時のキャストの名前を入力します。
  現在と名前が同じ場合は空欄で大丈夫です。
</p>

<hr>

<h3>
  「ソート番号」について
</h3>

<p>
  作品一覧ページなどに表示されるとき、
  ソート番号が小さいものから順に表示されるようになっています。
  主要なキャラクターのソート番号は小さめにして、最初のほうに表示されるようにしてもらえると嬉しいです。
  並び順は基本的に各アニメの公式サイトの掲載順に準拠しています。
</p>
