- title = t "head.title.channel_works.index"
- set_meta_tags(title: title, reverse: true, prefix: false)
- set_page_category "channel_works_index"

= render "application/components/navbar"
= render "channels/subnav"

.p-application__content
  .c-card.u-mw-600.mx-auto.mt-1.mb-2.p-1
    = render "channel_works/work_list", works: @works

= render "application/components/footer"
