nav.nav.nav-pills.nav-fill.nav-justified
  = active_link_to t("noun.untracked_episodes"), root_path, class: "nav-item nav-link", class_active: "active", active: params[:controller] == "home" && params[:action].in?(%w(index))
  = active_link_to t("noun.activities"), activities_path, class: "nav-item nav-link", class_active: "active", active: params[:controller] == "activities" && params[:action].in?(%w(index))
