@include media-breakpoint-down(lg) {
  .p-users-show {
    $root: &;

    &__follow-button {
      position: relative;

      .c-user-options-dropdown {
        left: 50%;
        margin-left: -95px;
        position: absolute;
        top: 4px;
      }
    }

    &__count {
      #{$root}__count-link {
        color: $body-color;
      }
    }
  }
}
