<h3>
  「著作者情報」について
</h3>

<p>
  他者が著作権を持つ画像をアップロードする際は、その著作者の情報を入力します。
</p>

<p>
  例えば「イリヤの空、UFOの夏」の画像をアップロードする場合は「秋山瑞人・メディアワークス／東映アニメーション／ハピネット・ピクチャーズ」と入力します。
  (著作者情報は<a href="http://www.toei-anim.co.jp/animeister/iriya/" target="_blank" rel="noopener">公式サイト</a>のフッターに書かれていることが多いです。)
</p>
