<div class="c-about l-welcome__about py-5">
  <div class="container">
    <h2 class="fw-bold h1 mb-0 text-center">
      <%= t("messages.welcome.show.annict_features") %>
    </h2>

    <div class="mt-5">
      <div class="align-items-center g-5 row">
        <div class="col-12 col-sm-6">
          <div class="badge bg-primary rounded-3">
            <i class="display-5 fa-solid fa-check p-2"></i>
          </div>

          <h3 class="fw-bold h1 mt-3">
            Track anime you watched
          </h3>

          <p class="mb-0">
            You can track animes you watched so that you don't get "How many episodes did you watch?".
            <br>
            You can white an impression on the record, and later you can look back on what you thought at that time.
          </p>
        </div>

        <div class="col-12 col-sm-6">
          <div class="badge bg-primary rounded-3">
            <i class="display-5 fa-solid fa-circle-play py-2"></i>
          </div>

          <h3 class="fw-bold h1 mt-3">
            Manage anime by viewing status
          </h3>

          <p class="mb-0">
            You can manage animes with 5 viewing statuses: "Watching", "Plan to Watch", "Watched", "On Hold", and "Stop Watching".
            <br>
            Animes with each status can be listed on your library page.
          </p>
        </div>

        <div class="col-12 col-sm-6">
          <div class="badge bg-primary rounded-3">
            <i class="display-5 fa-solid fa-users py-2"></i>
          </div>

          <h3 class="fw-bold h1 mt-3">
            Check the viewing status of your friends
          </h3>

          <p class="mb-0">
            When you follow an Annict user, the viewing record of that person will be displayed on your timeline.
            <br>
            To prevent spoilers, comments of animes and episodes that you haven't seen are blurred.
          </p>
        </div>

        <div class="col-12 col-sm-6">
          <div class="badge bg-primary rounded-3">
            <i class="display-5 fa-solid fa-code py-2"></i>
          </div>

          <h3 class="fw-bold h1 mt-3">
            Get anime data with Web API
          </h3>

          <p class="mb-0">
            Annict publishes Web API that allows you to obtain anime data and your own viewing data.
            <br>
            You can use the Web API to create anime-related applications or create your own Annict client.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
