.c-navbar {
  height: $ann-navbar-height;
  line-height: $ann-navbar-height;
  padding: 0 1rem;

  .navbar-nav {
    &.float-xs-right {
      .dropdown-menu {
        left: auto;
        right: -16px;
      }
    }
  }

  .navbar-brand,
  .nav-link {
    padding: 0;
  }

  .nav-item {
    height: $ann-navbar-height;
  }

  .c-search-form {
    line-height: 55px;
    padding: 0;
  }

  .dropdown {
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }

    .dropdown-menu {
      border: 0;
      box-shadow: 0 0 1px $ann-color-cadet;
      left: -15px;
      margin: 0;

      .dropdown-item {
        color: $navbar-light-color;
        padding: 3px 1rem;

        @include hover-focus {
          color: $navbar-light-hover-color;
          text-decoration: none;
        }
      }
    }

    .dropdown-item {
      line-height: $line-height-base;
    }
  }

  &.is-transparent {
    @include linear-gradient(to top, transparent, rgba(0, 0, 0, .15));

    .navbar-nav {
      .nav-link {
        color: $ann-color-white;
      }
    }
  }

  &:not(.is-transparent) {
    background-color: $ann-color-white;
    box-shadow: 0 2px 2px -2px $ann-color-cadet;
  }
}
