.c-navbar {
  height: $ann-navbar-height;
  z-index: 1;

  .navbar-nav {
    &--left {
      .nav-item {
        padding: 10px 0;
      }

      .dropdown-menu {
        left: -18px;
      }
    }

    &--right {
      .dropdown-menu {
        left: auto;
        right: -16px;
      }
    }

    .dropdown {
      &:hover {
        .dropdown-menu {
          display: block;
        }
      }

      .dropdown-menu {
        border: 1px solid $ann-border-color;
        margin: 0;
      }
    }
  }

  &.is-transparent {
    @include linear-gradient(to top, transparent, rgba($ann-color-black, .25));

    .navbar-nav {
      .nav-link {
        color: $ann-color-white;
      }
    }
  }

  &:not(.is-transparent) {
    background-color: $ann-color-white;
    border-bottom: 1px solid $ann-border-color;
  }
}
