.c-search-form {
  .form-control {
    background-color: rgba($ann-color-white, .1);
    border: 1px solid rgba($ann-color-black, .15);
    border-color: rgba($ann-color-black, .15);
    width: 280px;

    &:focus {
      border: 1px solid rgba($ann-color-black, .25);
    }
  }

  &.is-transparent {
    .form-control {
      border-color: rgba($ann-color-black, .15);
      color: $ann-color-white;

      &:focus {
        border: 1px solid rgba($ann-color-white, .5);
      }

      @include placeholder {
        color: rgba($ann-color-white, .5);
      }
    }
  }
}
