body.works-season {
  .c-tabs {
    @include tabs(independent);
  }

  .content {
    @include content(narrow);

    .header {
      height: 24px;

      h1 {
        color: $color-gunsmoke;
        float: left;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        margin-top: 0;
      }

      .wrapper {
        text-align: right;

        .season-selector {
          @include selector;
          height: 24px;
          width: 120px;

          i {
            top: 3px;
          }

          select {
            font-size: 10px;
          }
        }
      }
    }
  }

  .works {
    @include content(narrow);

    .work {
      @include card;
      @include work(large);
      margin: 20px 0;
    }
  }
}
