- title = t "head.title.records.edit"
- description = meta_description t("head.meta.description.records.edit")
- keywords = meta_keywords
- image_url = ann_image_url(@work.work_image, :attachment, size: "640x")
- set_meta_tags(title: title, description: description, keywords: keywords, og: { title: title, description: description, image: image_url }, reverse: true, prefix: false)
- set_page_category "records_edit"

.c-card.p-3.mb-4
  = render "records/form", record: @record

= render "application/components/footer"
= render "application/components/tabbar"
