.registrations-new, .registrations-create {
  .terms-privacy {
    color: $color-gray-dark-light;
    font-size: 12px;
    margin: 25px 0 15px 0;
    text-align: center;
  }

  .registration-button {
    text-align: center;

    i {
      margin-right: 7px;
    }
  }
}
