.u-link {
  &--hovered {
    color: $link-hover-color;
  }

  &--fake {
    color: $link-color;
    text-decoration: $link-decoration;

    @include hover-focus {
      color: $link-hover-color;
      cursor: pointer;
      text-decoration: $link-hover-decoration;
    }

    &:focus {
      @include tab-focus();
    }
  }
}
