@mixin ann-variables-light {
  // -------------------------------------------------------------------
  // Annict独自の変数
  // -------------------------------------------------------------------

  --ann-work-color: #{$ann-work-color};
  --ann-color-sidebar-bg: #{$ann-white-color};
  --ann-color-spoiler-guard-body: #{rgba($body-color, 0.5)};
  --ann-color-tracking-heatmap-bg: #{shade-color($body-bg, 15%)};
  --ann-mizuho-color: #{$ann-mizuho-color};
  --ann-rating-average-color: #{$ann-rating-average-color};
  --ann-rating-bad-color: #{$ann-rating-bad-color};
  --ann-rating-good-color: #{$ann-rating-good-color};
  --ann-rating-great-color: #{$ann-rating-great-color};
  --ann-season-autumn-color: #{$ann-season-autumn-color};
  --ann-season-spring-color: #{$ann-season-spring-color};
  --ann-season-summer-color: #{$ann-season-summer-color};
  --ann-season-unknown-color: #{$ann-season-unknown-color};
  --ann-season-winter-color: #{$ann-season-winter-color};
  --ann-slot-finished-color: #{$ann-slot-finished-color};
  --ann-slot-today-color: #{$ann-slot-today-color};
  --ann-slot-tomorrow-color: #{$ann-slot-tomorrow-color};
  --ann-slot-yesterday-color: #{$ann-slot-yesterday-color};
  --ann-status-completed-color: #{$ann-status-completed-color};
  --ann-status-dropped-color: #{$ann-status-dropped-color};
  --ann-status-on-hold-color: #{$ann-status-on-hold-color};
  --ann-status-plan-to-watch-color: #{$ann-status-plan-to-watch-color};
  --ann-status-watching-color: #{$ann-status-watching-color};
  --ann-supporter-color: #{$ann-supporter-color};

  // -------------------------------------------------------------------
  // Bootstrap関係の変数
  // -------------------------------------------------------------------

  // Body

  --ann-body-bg: #{$ann-scheme-light-color};
  --ann-body-color: #{$body-color};

  // Links

  --ann-link-color: #{$link-color};
  --ann-link-hover-color: #{$link-hover-color};

  // Components

  --ann-border-color: #{$border-color};

  // Typography

  --ann-hr-color: var(--ann-body-color);
  --ann-text-muted-color: #{$gray-600};

  // Tables

  --ann-table-border-color: #{$table-border-color};

  // Forms

  --ann-input-bg: #{$input-bg};
  --ann-input-disabled-bg: #{$input-disabled-bg};
  --ann-input-color: #{$input-color};
  --ann-input-border-color: #{$input-border-color};
  --ann-input-focus-bg: #{$input-focus-bg};
  --ann-input-focus-color: #{$input-focus-color};
  --ann-form-select-color: #{$input-color};
  --ann-form-select-bg: #{$form-select-bg};
  --ann-form-select-border-color: #{$form-select-border-color};

  // Navs

  --ann-nav-link-color: #{$nav-link-color};
  --ann-nav-link-hover-color: #{$nav-link-hover-color};

  // Dropdowns

  --ann-dropdown-border-color: #{$dropdown-border-color};

  // Cards

  --ann-card-bg: #{$card-bg};
  --ann-card-bg-rgb: #{hexToRGBString($card-bg)};
}
