.c-impression-button {
  line-height: map-get($ann-line-height-sizes, 0);

  &.is-default {
    height: 38px;

    .fa-ellipsis-h {
      height: 100%;
      line-height: 38px;
    }
  }

  &.is-small {
    height: 25px;

    .fa-ellipsis-h {
      height: 100%;
      line-height: 25px;
    }
  }
}
