<%= content_for :site_page_title, "#{t('titles.about')}" %>

<div class="content--narrow">
  <div class="pages__about">
    <div class="container">
      <p>Annict (アニクト) は、見たアニメを記録したり、人気のアニメやオススメのアニメを見つけることができる、アニメ視聴記録サービスです。</p>

      <h2>管理者について</h2>
      <p><a href="https://twitter.com/shimbaco" target="_blank">@shimbaco</a> が個人で開発、運営しています。</p>

      <h2>アニメデータについて</h2>
      <p>このサービスに登録されているアニメのデータは<a href="http://lain.gr.jp/" target="_blank">.lain</a>と<a href="http://cal.syoboi.jp/" target="_blank">しょぼいカレンダー</a>を参考にさせて頂いています。ありがとうございます。</p>

      <h2>お問い合わせ</h2>
      <p>何かありましたら、Annictの<a href="https://twitter.com/anannict" target="_blank">Twitterアカウント</a>か<a href="mailto:anannict@gmail.com">anannict@gmail.com</a>までお願いします。</p>
    </div>
  </div>
</div>
