- title = t "head.title.pages.about"
- set_meta_tags(title: title, reverse: true, prefix: false)
- set_page_category "pages_about"

= render "application/components/navbar"

.p-application__content
  .c-card.container.py-1.mt-1.mb-2
    = render "about_body"

= render "application/components/footer"
