- title = t "head.title.pages.about"
- set_meta_tags(title: title, reverse: true, prefix: false)
- set_page_category "pages_about"

.c-card.container.mb-2
  = render "about_body"

= render "application/components/footer"
= render "application/components/tabbar"
