- title = t "head.title.pages.privacy"
- set_meta_tags(title: title, og: { title: title }, reverse: true, prefix: false)
- set_page_category "pages_privacy"

.c-card.container.py-1.mb-2
  = render "privacy_body"

= render "application/components/footer"
= render "application/components/tabbar"
