- title = t "head.title.pages.terms"
- set_meta_tags(title: title, og: { title: title }, reverse: true, prefix: false)
- set_page_category "pages_terms"

= render "application/components/navbar"

.p-application__content
  .c-card.container.py-1.mt-1.mb-2
    = render "terms_body"

= render "application/components/footer"
