<% title = t("head.title.pages.terms") %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container py-3">
  <h1 class="fw-bold h3 mb-3">
    <%= title %>
  </h1>

  <div class="card">
    <div class="card-body">
      <%== render_markdown File.read("app/docs/terms.ja.md") %>
    </div>
  </div>
</div>
