.p-db-edit_requests {
  &--show__header {
    margin: 20px 0;

    h1 {
      font-size: 30px;
      margin-top: 0;
    }

    .c-label--status {
      margin-right: 7px;
    }
  }

  &--show__resource-annotation {
    font-size: 12px;
    margin-left: 7px;
  }

  &--show__tabs {
    margin-bottom: 20px;
  }

  &--show__activity {
    .label {
      margin-left: 7px;
    }
  }
}
