- title = "#{t('head.title.forum.posts.new')} - Forum"
- set_meta_tags(title: title, og: { title: title }, reverse: true, prefix: false)

.c-card.p-3.mb-3
  = render "forum/posts/form", post: @post, form_url: forum_post_list_path, form_method: :post, submit_text: t("verb.post")
