<% title = "#{t('head.title.forum.posts.new')} - Forum" %>
<% set_meta_tags(title: title, og: { title: title }, reverse: true, prefix: false) %>

<%= render "forum/application/nav", post: @post %>

<div class="container py-3 u-container-flat">
  <div class="card u-card-flat">
    <div class="card-body">
      <%= render "forum/posts/form", post: @post, form_url: forum_post_list_path, form_method: :post, submit_text: t("verb.post") %>
    </div>
  </div>
</div>
