- title = "#{t('head.title.forum.posts.new')} - Forum"
- set_meta_tags(title: title, og: { title: title }, reverse: true, prefix: false)
- set_page_category "forum_posts_new"
- breadcrumb :forum_new_post, @post

.c-card.p-1.mb-1
  = render "forum/posts/form", post: @post

= render "application/components/breadcrumb"
= render "application/components/footer"
= render "application/components/tabbar"
