body.home-index.guest {
  > .hero {
    height: 300px;
    position: relative;
    text-align: center;
    width: 100%;

    > .work-image {
      @include filter(brightness(50%));
      background-position: center;
      background-size: cover;
      height: 100%;
    }

    > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      min-height: 100%;

      > h1 {
        color: #fff;
        font-family: "Noto Sans JP", sans-serif;
        font-size: 56px;
        font-weight: 400;
        line-height: 1.4;
        margin: 70px 0 0 0;
      }

      > .description {
        color: #fff;
        margin-bottom: 21px;
      }

      > .btns {
        @include display(flex);
        @include justify-content(center);

        > .about-btn {
          @include btn(#fff, $type: transparency);
          margin-right: 7px;
        }

        > .signup-btn {
          @include btn($color-mizuho, $icon: true);
          width: 170px;
        }
      }

      > .signin {
        color: #fff;
        margin-top: 21px;
      }
    }
  }

  > .content {
    > .section {
      margin-bottom: 42px;

      > h2 {
        font-family: "Noto Sans JP", sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
      }

      > .content {
        @include card;
        padding: 14px;

        > .top-work {
          > a {
            > .image {
              background-position: center center;
              background-size: cover;
              height: 350px;
            }
          }

          > .header {
            padding: 7px 0;

            > .watchers-count {
              margin-bottom: 3px;

              .count {
                font-weight: bold;
                margin-right: 3px;
              }

              .text {
                color: $color-gunsmoke;
                font-size: 12px;
              }
            }

            > h3 {
              font-family: "Noto Sans JP", sans-serif;
              font-size: 22px;
              font-weight: 500;
              margin: 0 0 10px 0;
            }

            > .library-btn {
              text-align: center;

              > .ann-status-selector {
                width: 250px;
              }
            }
          }

          > .detail {
            padding: 7px 0;

            .casts,
            .staffs,
            .work-organizations {
              .title {
                font-weight: bold;
              }

              ul {
                list-style-type: none;
                margin-top: 3px;

                li {
                  display: inline-block;
                  margin-right: 10px;

                  &:last-child {
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }

        .works {
          .row {
            @include display(flex);
            @include justify-content(space-between);
            margin-bottom: 21px;

            .work {
              @include flex-grow(1);
              margin-left: 0;
              margin-right: 7px;

              &:last-child {
                margin-left: 7px;
                margin-right: 0;
              }

              .image {
                background-size: cover;
                border: 1px solid $color-alto;
                height: 175px;
              }

              .watchers-count {
                .count {
                  font-size: 12px;
                  font-weight: bold;
                  margin-right: 3px;
                }

                .text {
                  color: $color-gunsmoke;
                  font-size: 10px;
                }
              }

              .title {
                display: block;
                margin-bottom: 7px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 150px;
              }

              .ann-status-selector {
                .selector {
                  &:hover {
                    color: #fff;
                  }

                  select {
                    height: 28px;
                  }

                  i {
                    top: 6px;
                  }
                }
              }
            }
          }
        }

        > .more {
          height: 35px;
          text-align: center;

          a {
            @include btn($color-mizuho);
            line-height: 35px;
            padding: 9px 63px;
          }
        }
      }
    }
  }
}
