<div
  class="modal"
  data-controller="program-list-modal"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="c-loading">
          <div class="c-loading__core">Loading...</div>
        </div>
      </div>
    </div>
  </div>
</div>
