<div class="c-tracking-modal">
  <turbo-frame
    class="modal"
    data-controller="reloadable-frame"
    data-reloadable-frame-event-name-value="tracking-modal"
    data-reloadable-frame-target="frame"
    id="c-tracking-modal__frame"
    src=""
    tabindex="-1"
  ></turbo-frame>
</div>
