@include media-breakpoint-down(lg) {
  .p-top-hero {
    height: 260px;
    position: relative;

    &__bg-image {
      background-position: center;
      background-size: cover;
      filter: brightness(50%);
      height: 100%;
    }

    &__content {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      h1 {
        color: $ann-color-white;
        margin-top: 1rem;
      }
    }

    &__description {
      color: $ann-color-white;
    }
  }
}
