ANNICT_NEXT_SEASON: '2014-autumn'
ANNICT_CURRENT_SEASON: '2014-summer'
ANNICT_PREVIOUS_SEASON: '2014-spring'

DEVISE_SECRET: '12345'
RAILS_SECRET_TOKEN: '12345'


development:
  FACEBOOK_APP_ID: '12345'
  FACEBOOK_SECRET_KEY: '12345'

  GA_TRACKING_ID: 'UA-00000000-0'

  HOST: 'localhost:3000'

  ANNICT_IMAGE2_URL: 'http://192.168.33.11'

  DRAGONFLY_URL_HOST: 'http://localhost:3000'

  TWITTER_CONSUMER_KEY: '12345'
  TWITTER_CONSUMER_SECRET: '12345'


test:
  HOST: 'localhost:3000'
