<turbo-frame id="c-sidebar-profile__frame">
  <%= link_to profile_path(@user.username), class: "align-content-center row" do %>
    <div class="col-3 pr-0">
      <%= render ProfileImageComponent.new(image_url_1x: ann_image_url(@user.profile, :image, size: "50x50", ratio: "1:1"), alt: "@#{@user.username}", lazy_load: false) %>
    </div>

    <div class="col-auto">
      <div class="font-weight-bold u-text-body">
        <%= @user.profile.name %>
      </div>

      <div class="small text-secondary">
        @<%= @user.username %>
      </div>
    </div>
  <% end %>
</turbo-frame>
