body.channels-index {
  padding-top: 60px;

  > .content {
    padding: 0 0 20px 0;
  }

  ul.channels {
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    list-style-type: none;


    li {
      display: table;
      margin-bottom: 10px;
      table-layout: fixed;
      width: 100%;

      .name {
        display: table-cell;
      }

      .receive-button {
        display: table-cell;
        text-align: right;
        width: 50px;
      }
    }
  }
}
