.p-season-work-list__header {
  h1 {
    color: $color-gunsmoke;
    float: left;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.p-season-work-list__selectors {
  height: 32px;
  margin-bottom: 20px;
}
