.p-user-works {
  .c-tabs--independent {
    box-shadow: none;
  }

  .c-tabs__content {
    line-height: normal;
  }

  .c-tabs__tab {
    padding-top: 12px;
  }

  .c-tabs__text {
    font-size: 12px;
  }
}
