<div class="pl-db">
  <div class="pl-db__sidebar">
  </div>
  <div class="pl-db__main" style="background-color: #e1e4e8;">
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
</div>
