<div class="pl-web">
  <div class="pl-web__sidebar">
  </div>
  <div class="pl-web__main col d-flex flex-column" style="background-color: #e1e4e8;">
    <div class="pl-web__main__content">
      <%= yield %>
    </div>
    <div class="pl-web__main__footer container-fluid">
      <div class="row">
        <div class="col">
          Annict
        </div>
        <div class="col">
          footer
        </div>
      </div>
    </div>
  </div>
</div>
