@include media-breakpoint-up(lg) {
  .p-top-hero {
    height: 400px;
    width: 100%;

    &__bg-image {
      background-position: center;
      background-size: cover;
      filter: brightness(50%);
      height: 100%;
    }

    &__content {
      width: 100%;
      z-index: 1;

      h1 {
        color: $ann-color-white;
      }
    }

    &__description {
      color: $ann-color-white;
    }
  }
}
