meta property="og:title" content="#{title}"
meta property="og:type" content="website"
meta property="og:url" content="#{url}"
meta property="og:description" content="#{description}"
meta property="og:site_name" content="#{t('words.site_name')}"
meta property="og:image" content="#{image_url}"
meta property="og:app_id" content="#{ENV.fetch('FACEBOOK_APP_ID')}"
meta property="og:locale" content="ja_JP"
