= ann_display_meta_tags

= render "application/v3/head_common"

= stylesheet_pack_tag "v3", media: "all", "data-turbolinks-track": "reload"
= javascript_pack_tag "v3", "data-turbolinks-track": "reload"

= yield :head
