= display_meta_tags site: "Annict"

= render "application/v3/og"

link href="/images/favicon.png" rel="shortcut icon" type="image/png"
link type="text/plain" rel="author" href="#{ENV.fetch('ANNICT_URL')}/humans.txt"

= stylesheet_link_tag "v3/pc", media: "all"
= javascript_include_tag "v3/pc"

= csrf_meta_tags

= yield :head
