// Colors
// Generated on https://www.colorbox.io
// Major Steps => Total: 10
// Saturation => Start: 4, End: 90, Curve: Quad - EaseOut, Rate: 130
// Brightness => Start: 100, End: 53, Curve: Quad - EaseOut

$ann-color-mizuho-000: #FFF2FB;
$ann-color-mizuho-005: #FFE1F4;
$ann-color-mizuho-010: #FFD0E9;
$ann-color-mizuho-020: #FFA1C6;
$ann-color-mizuho-030: #FE799D;
$ann-color-mizuho-040: #F85B73;
$ann-color-mizuho-050: #E9305E;
$ann-color-mizuho-060: #D51C5B;
$ann-color-mizuho-070: #BE115A;
$ann-color-mizuho-080: #A30757;
$ann-color-mizuho-090: #870051;

$ann-color-green-000: #F2FFFC;
$ann-color-green-005: #CDF6ED;
$ann-color-green-010: #ABECE1;
$ann-color-green-020: #71E0CE;
$ann-color-green-030: #43D1BC;
$ann-color-green-040: #21C0A8;
$ann-color-green-050: #0ABC93;
$ann-color-green-060: #03B47C;
$ann-color-green-070: #02A762;
$ann-color-green-080: #019849;
$ann-color-green-090: #008734;

$ann-color-black-000: #FFFFFF;
$ann-color-black-005: #E6E6E6;
$ann-color-black-010: #CCCCCC;
$ann-color-black-020: #B3B3B3;
$ann-color-black-030: #999999;
$ann-color-black-040: #808080;
$ann-color-black-050: #666666;
$ann-color-black-060: #4D4D4D;
$ann-color-black-070: #333333;
$ann-color-black-080: #191919;
$ann-color-black-090: #000000;

$ann-color-blue-000: #F2F7FF;
$ann-color-blue-005: #CCE1FD;
$ann-color-blue-010: #A8CDFB;
$ann-color-blue-020: #68ABF5;
$ann-color-blue-030: #318FEE;
$ann-color-blue-040: #0779E4;
$ann-color-blue-050: #006AD9;
$ann-color-blue-060: #005CC9;
$ann-color-blue-070: #004EB6;
$ann-color-blue-080: #003F9F;
$ann-color-blue-090: #003287;

$ann-color-yellow-000: #FFFEF2;
$ann-color-yellow-005: #FFFDD9;
$ann-color-yellow-010: #FFFCBF;
$ann-color-yellow-020: #FFF489;
$ann-color-yellow-030: #FDE95A;
$ann-color-yellow-040: #F6DA35;
$ann-color-yellow-050: #E7C614;
$ann-color-yellow-060: #D4B109;
$ann-color-yellow-070: #BD9A05;
$ann-color-yellow-080: #A38002;
$ann-color-yellow-090: #876800;

$ann-color-red-000: #FFF2F7;
$ann-color-red-005: #FEDCE9;
$ann-color-red-010: #FCC6D8;
$ann-color-red-020: #F894AF;
$ann-color-red-030: #F16A86;
$ann-color-red-040: #E84A5F;
$ann-color-red-050: #DC253D;
$ann-color-red-060: #CC1529;
$ann-color-red-070: #B70D1A;
$ann-color-red-080: #A0050C;
$ann-color-red-090: #870002;

$ann-color-mizuho: $ann-color-mizuho-040;
$ann-color-black: $ann-color-black-090;
$ann-color-white: $ann-color-black-000;
$ann-color-green: $ann-color-green-040;
$ann-color-blue: $ann-color-blue-040;
$ann-color-yellow: $ann-color-yellow-040;
$ann-color-red: $ann-color-red-040;

$ann-color-shirobako: (
  s: #D5AB1C,
  ho: #D24488,
  ik: #7C608C,
  rb: #2985BE,
  o: #A3BC5C,
  a: #D74F13
);

$ann-color-facebook: #2E6499;
$ann-color-gumroad: #3CABBA;
$ann-color-twitter: #24B1EC;

$ann-color-background: $ann-color-white;
$ann-color-body: #444444;
$ann-color-border: rgba(0, 0, 0, .08);
$ann-color-footer-bg: #334854;
$ann-color-link: #0366D6;
$ann-color-supporter: #00BCD4;

$ann-color-bad: #757575;
$ann-color-average: #ff6d00;
$ann-color-good: #00C853;
$ann-color-great: #00B0FF;


// Typography

$ann-line-height-sizes: (
  0: 0,
  1: 1,
  2: 1.3,
  3: 1.5,
  4: 1.7,
  5: 1.9
);

$ann-text-colors: (
  body: $ann-color-body,
  facebook: $ann-color-facebook,
  green: $ann-color-green-060,
  gumroad: $ann-color-gumroad,
  star: $ann-color-yellow,
  twitter: $ann-color-twitter
);

$ann-bg-colors: (
  mizuho: $ann-color-mizuho,
  white: $ann-color-white
);

// Forms

$ann-input-border-color: $ann-color-black-005;


// Buttons

$ann-btn-colors: (
  average: $ann-color-average,
  bad: $ann-color-bad,
  facebook: $ann-color-facebook,
  good: $ann-color-good,
  great: $ann-color-great,
  green: $ann-color-green-060,
  gumroad: $ann-color-gumroad,
  input-border: $ann-input-border-color,
  link: $ann-color-link,
  supporter: $ann-color-supporter,
  twitter: $ann-color-twitter
);


// Navbar

$ann-navbar-height: 52px;
$ann-navbar-height-mobile: 64px;
