.p-work-list {
  margin: 20px 0;

  .c-card {
    margin-bottom: 20px;
  }
}

.p-work-list__work--large {
  padding: 15px 0;
}

.p-work-list__work-image {
  text-align: center;

  img {
    border: 1px solid $color-alto;
  }
}

.p-work-list__work-title {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 10px;
}

.p-work-list__casts,
.p-work-list__staffs,
.p-work-list__work-organizations {
  .title {
    font-size: 13px;
    font-weight: bold;
  }

  ul {
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    list-style-type: none;

    li {
      display: inline;
      font-size: 13px;
      margin-right: 7px;
    }
  }
}

.p-work-list__work-statistics {
  color: $color-gunsmoke;
  font-size: 10px;

  i {
    margin-right: 3px;
  }

  .watchers-count {
    margin-right: 7px;
  }
}
