- title = t "head.title.mutes.index"
- set_meta_tags(title: title, reverse: true, prefix: false)

= render "settings/subnav"

.c-card.u-mw-600.mx-auto.mt-3.mb-4.p-3
  = render "settings/muted_users/user_list", users: @mute_users
