<% title = "Error" %>
<% set_meta_tags title: title, reverse: true %>

<div class="py-5">
  <div class="text-center">
    <%= link_to root_path do %>
      <%= image_tag "logos/color-mizuho.png", size: "50x61", alt: "Annict" %>
    <% end %>
  </div>

  <div class="mt-5 u-container-narrow u-container-flat">
    <div class="card u-card-flat">
      <div class="card-body">
        <h1 class="text-center">
          Error
        </h1>

        <div class="mt-3 text-center">
          <%= @pre_auth.error_response.body[:error_description] %>
        </div>
      </div>
    </div>
  </div>
</div>
