<h3>
  「シリーズ」について
</h3>

<p>
  同名の2人のキャラがいたとき、どちらがどのシリーズに関係するかを明確にするために入力します。
  もし同名のキャラを登録する場合は、重複を防ぐためにそれぞれ異なるシリーズを入力する必要があります。
</p>

<hr>

<h3>
  「誕生日」「年齢」などの自由入力欄の入力形式について
</h3>

<p>
  誕生日や年齢などは作品によって色々な表現がありそうなので、自由入力形式にしています。
  入力形式は公式サイトやWikipediaなどを参考にして頂ければと思います。
  英語の入力形式は<a href="https://myanimelist.net/" target="_blank" rel="noopener">MyAnimeList</a>などを参考にして下さい。
  Annictには特に明確な規定はありません。
</p>

<hr>

<h3>
  「キャラ紹介」と「キャラ紹介の引用元」について
</h3>

<p>
  キャラ紹介を登録するときは引用元の登録もお願いしています。
  引用元は以下のような内容になります。
</p>

<ul>
  <li>
    公式サイトから参照したとき: 公式サイト『(サイト名)』
  </li>
  <li>
    Wikipediaから参照したとき: Wikipedia『(ページ名)』
  </li>
  <li>
    書籍から参照したとき: 書籍『(書籍名)』
  </li>
</ul>
