.c-anime-button-group {
  .dropdown-toggle::after {
    display: none;
  }

  .c-anime-status-dropdown {
    .btn.dropdown-toggle {
      border-bottom-left-radius: $border-radius-pill;
      border-top-left-radius: $border-radius-pill;
      padding-left: 1.2rem;
      padding-right: 1rem;
    }
  }

  &__options {
    .btn.dropdown-toggle {
      border-bottom-right-radius: $border-radius-pill;
      border-top-right-radius: $border-radius-pill;
      padding-left: 1rem;
      padding-right: 1.2rem;
    }
  }
}
