.c-body {
  position: relative;

  &__content {
    line-height: $line-height-lg;
    overflow-wrap: break-word;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
      margin-top: 3rem;
    }

    dl,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol,
    p,
    ul {
      margin-bottom: 1.5rem;
    }

    p:last-child {
      margin-bottom: 1rem;
    }
  }

  &__read-more-background {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), var(--ann-card-bg));
    position: absolute;
    top: 0;
  }
}
