.c-nav {
  $root: &;

  box-shadow: inset 0 -1px 0 $border-color;
  overflow-y: hidden;
  padding-left: 1rem;
  padding-right: 1rem;

  &__list {
    list-style: none;
    margin-bottom: 0;
    overflow-x: auto;
    padding: 0;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    display: inline-block;
  }

  &__link {
    border-bottom: 2px solid transparent;
    color: $body-color;
    display: inline-block;
    height: $ann-navbar-height;
    line-height: $ann-navbar-height;
    padding-left: 1rem;
    padding-right: 1rem;

    &--active {
      border-bottom-color: $ann-mizuho-color;
    }
  }

  @include color-scheme(dark) {
    box-shadow: inset 0 -1px 0 $ann-border-color-dark;

    &__link {
      color: $ann-body-color-dark;
    }
  }
}
