.c-rendered-markdown {
  h2 {
    border-bottom: 1px solid var(--ann-border-color);
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 2rem;
    padding-bottom: 0.3rem;
  }

  li {
    & + li {
      margin-top: 0.25rem;
    }

    p {
      margin-top: 1rem;
    }
  }

  table {
    margin-bottom: 1rem;
    margin-top: 0;

    td, th {
      border: 1px solid var(--ann-table-border-color);
      padding: 0.5rem 1rem;
    }

    th {
      font-weight: 600;
    }

    tr {
      border-top: 1px solid var(--ann-table-border-color);
    }
  }
}
