.c-video-thumbnail {
  $root: &;

  height: 130px;
  position: relative;

  &:hover {
    cursor: pointer;

    #{$root}__image {
      -webkit-filter: brightness(100%);
      filter: brightness(100%);
    }

    .fa-play-circle {
      color: $ann-mizuho-color;
    }
  }

  &__image {
    -webkit-filter: brightness(70%);
    background-position: center;
    background-size: cover;
    filter: brightness(70%);
    height: 100%;
    transition: filter 0.2s linear;
  }

  .fa-play-circle {
    color: rgba(255, 255, 255, 0.75);
    font-size: 50px;
    height: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    transition: color 0.2s linear;
    width: 50px;
  }
}
