.ann-menu {
  @include align-items(center);
  @include display(flex);
  @include justify-content(space-between);
  background-color: $color-mine-shaft;
  height: 48px;

  .a-left {
    @include display(flex);

    .a-navbar-logo {
      @include flex-basis(48px);
      @include flex-shrink(0);
    }

    ul.menu {
      margin-left: 4px;

      li {
        a {
          color: #ffffff;
          margin-right: 5px;
          padding: 0;
          text-align: center;
          width: 51px;

          &:hover {
            text-decoration: none;
          }

          &.a-active {
            color: $color-kei;
          }

          span {
            font-size: 10px;
            margin-top: 2px;
          }
        }
      }
    }
  }

  .a-right {
    width: 42px;
    text-align: center;

    .a-submenu {
      span {
        color: #fff;

        .a-notifications-count {
          background-color: $color-mizuho;
          border-radius: 10px;
          font-size: 12px;
          line-height: 1;
          padding: 2px 4px;
          position: absolute;
          right: 5px;
          top: 5px;
        }
      }
    }

    .dropdown-pane {
      left: auto !important;
      margin-bottom: 0;
      padding: 0;
      right: 0!important;
      top: 48px !important;
      width: 175px;

      ul.a-menu {
        -moz-padding-start: 0;
        -webkit-padding-start: 0;
        list-style-type: none;
        margin-bottom: 0;
        margin-left: 0;
        padding: 0;
        text-align: left;

        li {
          font-size: 14px;

          a {
            color: $color-mine-shaft;
            display: block;
            padding: 15px 0 15px 15px;

            i, .emoji {
              margin-right: 10px;
            }

            .a-notifications-count {
              background-color: $color-mizuho;
              border-radius: 10px;
              color: #ffffff;
              float: right;
              font-size: 12px;
              margin: 2px 15px 0 0;
              padding: 0px 6px;
            }
          }
        }
      }
    }
  }
}
