<div class="jumbotron">
  <h1 class="display-4">
    Welcome to Annict DB!
  </h1>

  <p class="lead">
    Annict DB is a system which can edit anime data.
    Once you become an editor you'll be able to edit them freely.
  </p>
</div>
