.ann-episode-header {
  position: relative;

  .a-header-image {
    @include filter(brightness(50%));
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  > .row {
    padding-bottom: 1rem;
    padding-top: 1rem;

    .a-header-content {
      position: relative;

      .a-prev-episode,
      .a-next-episode {
        border-bottom: none;
        cursor: pointer;
        position: absolute;
        top: 125px;

        a {
          color: $color-gallery;
          font-size: 40px;
        }
      }

      .a-prev-episode {
        left: -50px;
      }

      .a-next-episode {
        right: -50px;
      }

      h1 {
        margin-bottom: 0;
        margin-top: 90px;

        &.a-is-single {
          margin-top: 120px;

          .a-work-title {
            font-size: 1.6rem;

            .a-wrapper {
              a {
                color: #fff;
              }
            }
          }
        }

        .a-work-title {
          font-size: 1.4rem;

          .a-wrapper {
            background-color: rgba(0, 0, 0, 0.7);
            display: inline-block;
            padding: 3px 5px;

            a {
              color: $color-gunsmoke;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .a-episode {
          display: block;
          font-size: 1.6rem;

          .a-wrapper {
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            display: inline-block;
            padding: 3px 5px;

            .a-number {
              margin-right: 7px;
            }
          }
        }
      }

      .a-records-count {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        display: inline-block;
        padding: 3px 5px;

        i {
          color: #64e86f;
          margin-right: 5px;
        }
      }
    }
  }
}
