@import '~bootstrap/scss/mixins';

$ann-bootstrap-badge-colors: (
  danger: map-get($theme-colors, 'danger'),
  dark: map-get($theme-colors, 'dark'),
  default: map-get($theme-colors, 'light'),
  info: map-get($theme-colors, 'info'),
  primary: map-get($theme-colors, 'primary'),
  success: map-get($theme-colors, 'success'),
  warning: map-get($theme-colors, 'warning'),
);

$ann-badge-colors: (
  average: $ann-color-average,
  bad: $ann-color-bad,
  completed: $ann-color-green-005,
  dropped: $ann-color-black-005,
  good: $ann-color-good,
  great: $ann-color-great,
  mizuho: $ann-color-mizuho,
  on_hold: $ann-color-red-005,
  plan_to_watch: $ann-color-orange-005,
  supporter: $ann-color-supporter,
  watching: $ann-color-blue-005,
);

@each $color-name, $color in $ann-badge-colors {
  .u-badge-#{$color-name} {
    // @include badge-variant($color);
  }
}

.u-badge-outline {
  @include border-radius();
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  line-height: map-get($ann-line-height-sizes, 1);
  padding: $badge-padding-y $badge-padding-x;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

@each $color-name, $color in $ann-bootstrap-badge-colors {
  .u-badge-outline-#{$color-name} {
    border: 1px solid $color;
  }
}

.u-badge-works {
  // @include badge-variant(map-get($ann-color-shirobako, rb));
}

.u-badge-people {
  // @include badge-variant(map-get($ann-color-shirobako, ho));
}

.u-badge-organizations {
  // @include badge-variant(map-get($ann-color-shirobako, a));
}

.u-badge-characters {
  // @include badge-variant(map-get($ann-color-shirobako, ik));
}
