@import '~bootstrap/scss/mixins';

@each $color-name, $color in $ann-btn-colors {
  .u-btn-#{$color-name} {
    @include button-variant($color, $color);
  }
}

@each $color-name, $color in $ann-btn-colors {
  .u-btn-outline-#{$color-name} {
    @include button-outline-variant($color);
  }
}

.u-btn-gumroad {
  color: $color-contrast-light;

  &:hover {
    color: $color-contrast-light;
  }
}
