// Color

$ann-color-outer-space: #343434;
$ann-color-mine-shaft: #404040;
$ann-color-river: #5f697a;
$ann-color-botticelli: #c9d6df;

$ann-color-cadet: rgba(43, 59, 93, .29);

$ann-color-haze: #f9f9fb;
$ann-color-white: #fff;

$ann-color-java: #3fc1c9;
$ann-color-keppel: #00B8A9;
$ann-color-san-juan: #466c95;

$ann-color-selective-yellow: #ffb400;

$ann-color-mizuho: #f85b73;
$ann-color-kei: #c6baa2;

$ann-color-musani: #ec6303; // 武蔵野アニメーション
$ann-color-miyamori: #d8a57a;
$ann-color-zuka: #ae454c;
$ann-color-miyazuka: #c57965; // miyamori, zukaとの中間色
$ann-color-shirobako: (
  s: #d5ab1c,
  ho: #d24488,
  ik: #7c608c,
  rb: #2985be,
  o: #a3bc5c,
  a: #d74f13
);

$ann-color-facebook: #2e6499;
$ann-color-twitter: #24b1ec;


// Typography

$ann-line-height-base: 1.7;
$ann-line-height-sizes: (
  0: 0,
  xs: $ann-line-height-base / 1.2,
  sm: $ann-line-height-base / 1.1,
);

// Navbar

$ann-navbar-height: 3.8rem;
