<div class="btn-group" data-turbo-eval="false">
  <%= active_link_to work_display_option_path(display: :grid, to: request.path), class: "btn", class_active: "btn-primary", class_inactive: "btn-secondary", active: (display_option == "grid") do %>
    <%= icon "th-large", class: "me-0" %>
  <% end %>
  <%= active_link_to work_display_option_path(display: :grid_small, to: request.path), class: "btn", class_active: "btn-primary", class_inactive: "btn-secondary", active: (display_option == "grid_small") do %>
    <%= icon "th", class: "me-0" %>
  <% end %>
</div>
