.pl-default {
  $root: &;

  &__main {
    margin-left: 0;
    // For sticky footer
    // https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
    min-height: 100vh;

    #{$root}__content {
      flex: 1;

      .container-fluid {
        max-width: 1400px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .pl-default {
    &__main {
      margin-left: 240px;
    }
  }
}
