c-appbar,
.c-appbar {
  .navbar {
    height: $ann-appbar-height;
  }

  &__navbar {
    $navbar: &;

    &--pc {
      .navbar-brand {
        line-height: 1;
      }
  
      .dropdown {
        &:hover {
          .dropdown-menu {
            display: block;
          }
        }
      }
      
      #{$navbar}--right {
        .dropdown-menu {
          left: auto;
          right: -16px;
        }
      }
    }
  }
}
