c-appbar,
.c-appbar {
  .navbar {
    height: $ann-navbar-height;
  }

  &__navbar {
    $navbar: &;

    &--pc {
      .navbar-brand {
        line-height: 1;
      }
  
      .dropdown {
        &:hover {
          .dropdown-menu {
            display: block;
          }
        }
      }
      
      #{$navbar}--right {
        .dropdown {
          padding: 2px 0 2px;
        }

        .dropdown-menu {
          left: auto;
          right: -16px;
          margin: 0;
        }
      }
      
      &__notifications-count {
        background-color: $ann-color-mizuho;
        border-radius: 10px;
        color: $ann-color-white;
        left: 18px;
        line-height: normal;
        padding: 1px 6px;
        position: absolute;
        top: -10px;
      }
    }

    &--mobile {
      box-shadow: 0 -.125rem .25rem -.125rem rgba(0,0,0,.075);

      &__notifications-count {
        background-color: $ann-color-mizuho;
        border-radius: 10px;
        color: $ann-color-white;
        line-height: normal;
        padding: 1px 6px;
        position: absolute;
        right: -5px;
        top: -10px;
      }
    }
  }
}
