.c-channel-selector {
  border-radius: $border-radius;
  color: $ann-color-white;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 180px;

  select {
    appearance: none;
    background-color: $ann-color-green;
    border: 0;
    border-radius: 0;
    color: $ann-color-white;
    cursor: pointer;
    height: 35px;
    outline: none;
    padding-left: 7px;
    width: 130%;

    &:hover {
      background-color: darken($ann-color-green, 15%);
    }

    option {
      background-color: $ann-color-black-l1;
    }
  }

  i {
    font-size: 15px;
    position: absolute;
    right: 7px;
    top: 7px;
    pointer-events: none;
  }
}
