.c-episode-row {
  &__stars {
    .fa-star,
    .fa-star-half {
      color: $ann-color-yellow;
    }

    .fa-star {
      color: $ann-color-navy-l3;
    }
  }

  &__avatar,
  &__icon {
    text-align: center;
    width: 20px;
  }

  &__tracking-checkbox {
    line-height: map-get($ann-line-height-sizes, 0);
    padding: 0 !important;
    width: 20px;

    label {
      position: relative;
      width: 30px;
      height: 30px;
      padding: 1.5rem 0.5rem 1.5rem 1rem;
      margin-bottom: 0;

      input {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}
