.c-search-form {
  .form-control {
    background-color: rgba($ann-color-white, .1);
    border: 1px solid rgba($ann-color-black, .15);
    border-color: rgba($ann-color-black, .15);
    width: 280px;

    &:focus {
      border: 1px solid rgba($ann-color-black, .25);
    }
  }

  .dropdown-menu {
    left: 0 !important;
    width: 400px;
    z-index: 2;

    .dropdown-item {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.active {
        background-color: $dropdown-link-hover-bg;
      }
    }
  }
}
