.c-slot-progress {
  $root: &;

  position: relative;

  &.is-unbroadcasted {
    #{$root}__line {
      border-left: solid 1px $ann-color-green;
    }

    #{$root}__point {
      background-color: $ann-color-green;
    }
  }

  &__line {
    border-left: solid 1px $ann-color-green;
    height: 100%;
    position: absolute;
    width: 1px;
  }

  &__point {
    background-color: $ann-color-green;
    border-radius: 10px;
    height: 10px;
    left: -6px;
    position: absolute;
    top: 21px;
    width: 10px;
  }
}
