body {
  background-color: #f0f0f1;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, EmojiSymbols, sans-serif;

  .container {
    max-width: 500px;
  }

  > .content {
    background-color: #ffffff;
    padding-bottom: 20px;

    margin: {
      left: auto;
      right: auto;
    }
    max-width: 500px;
    padding-top: 68px;
  }

  h2 {
    font-size: 14px;
    margin: 15px 0;
    font-weight: bold;
  }

  h3 {
    font-size: 14px;
  }

  blockquote {
    font-size: 14px;
  }

  textarea, input[type='text'] {
    -webkit-appearance: none;
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
  }

  .emoji {
    font-family: 'EmojiSymbols';
  }

  .form-control {
    box-shadow: none;
  }

  .nav {
    &.nav-tabs {
      margin-bottom: 15px;
    }

    li {
      a {
        padding: 7px;
      }
    }
  }

  .info.well {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px 15px;
    text-align: center;

    .icon {
      color: $color-gray-dark-light;
      font-size: 20px;
      margin-bottom: 10px;
    }

    p:last-child {
      margin: 0;
    }
  }

  .btn-transparency {
    background-color: rgba(0, 0, 0, 0);

    &.btn-primary {
      color: $color-mizuho;

      &:hover {
        color: white;
      }
    }
  }

  .fake-link {
    color: $color-mizuho;

    &:hover {
      color: #c5244a;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .btn-twitter {
    color: #ffffff;
    background-color: $color-twitter;

    &:hover {
      color: #ffffff;
    }
  }

  .hidden {
    display: none !important;
  }

  .fa-spin {
    @include animation(fa-spin 1s infinite linear);
  }
}
