/*
Emoji Symbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/

@font-face {
  font-family: "EmojiSymbols";
  src:font-url("EmojiSymbols-Regular.woff") format("woff");
  text-decoration: none;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansJP";
  src:font-url("NotoSansJP-Thin.otf") format("opentype");
}

@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src:font-url("icomoon.woff") format("woff");
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-checkin:before {
  content: "\e600";
}
