/*
Emoji Symbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/

@font-face {
  font-family: 'EmojiSymbols';
  src:font-url('EmojiSymbols-Regular.woff') format('woff');
  text-decoration: none;
  font-style: normal;
}


@font-face {
  font-family: 'NotoSansJP';
  src:font-url('NotoSansJP-Thin.otf') format('opentype');
}