<h3>
  キャラクターを登録する
</h3>

<p>
  キャラクターはCSV形式で登録することができます。
</p>

<ul>
  <li>
    [必須] キャラクター名
  </li>
  <li>
    [任意] キャラクター名 (かな)
  </li>
  <li>
    [必須] シリーズIDまたはシリーズ名
  </li>
</ul>

<p>
  上記の項目を以下のようにカンマ (,) で区切って入力します。
</p>

<pre>
// シリーズをIDで入力した場合
相良宗介,さがらそうすけ,380

// シリーズを名前で入力した場合
千鳥かなめ,ちどりかなめ,フルメタル・パニック！

// 「キャラクター名 (かな)」の入力を省略する場合
風間信二,,フルメタル・パニック！
</pre>
