<div class="c-work-record-card c-record-card card col-11 col-lg-10 mb-2 px-0">
  <div class="card-body p-2">
    <div class="row">
      <div class="col-auto pe-0">
        <%= link_to anime_path(anime_id: @anime_entity.database_id) do %>
          <%= render V4::WorkImageComponent.new(
              image_url_1x: @anime_entity.image_url_1x,
              image_url_2x: @anime_entity.image_url_2x,
              alt: @anime_entity.local_title
          ) %>
        <% end %>
      </div>

      <div class="col">
        <div class="mb-1">
          <%= link_to @anime_entity.local_title, anime_path(anime_id: @anime_entity.database_id), class: "d-block" %>
        </div>

        <%= V6::Selectors::StatusSelectorComponent.new(self, anime: @anime_entity.to_model, page_category: "user-home").render %>
      </div>
    </div>
  </div>
</div>
