<div class="c-anime-record-footer">
  <%= V6::Buttons::LikeButtonComponent.new(
      self,
      resource_name: "Record",
      resource_id: @record_entity.database_id,
      likes_count: @record_entity.likes_count,
      page_category: "user-home",
      class_name: "me-3"
  ).render %>
</div>
