<div
  class="c-spoiler-guard"
  data-controller="spoiler-guard"
  data-action="click->spoiler-guard#hide"
  data-spoiler-guard-work-id="<%= work_id %>"
  data-spoiler-guard-episode-id="<%= episode_id %>"
>
  <%= content %>
</div>
