@mixin profile-header {
  .profile-header {
    text-align: center;

    .profile {
      background-size: cover;
      color: #ffffff;
      margin-top: -20px;
      padding: 20px 10px;

      h1 {
        margin: {
          bottom: 3px;
          top: 16px;
        }

        @if $browser == pc {
          font-size: 30px;
        }
        @if $browser == mobile {
          font-size: 20px;
        }
      }

      .username, .description {
        color: $color-gray-light;
      }

      .username {
        margin-bottom: 7px;
      }

      .url {
        margin-top: 7px;
      }

      .follow-button, .share-button {
        margin-top: 15px;

        i {
          margin-right: 5px;
        }
      }
    }

    .statuses {
      margin-top: 10px;

      .status {
        text-align: center;

        .count {
          font-size: 18px;
        }

        .text {
          color: $color-gray-dark-light;
          font-size: 10px;
        }
      }

      hr {
        margin-top: 10px;
      }
    }
  }
}
