@mixin works-list {
  .works-list {
    .work {
      margin-bottom: 15px;
      position: relative;

      .work-statistics {
        width: 70px;
        margin-top: 2px;
        text-align: center;

        .watchers-count, .checkins-count {
          color: $color-gray-dark-light;
          font-size: 10px;

          i {
            margin-right: 3px;
          }
        }

        .watchers-count {
          margin-right: 6px;
        }
      }

      .media-body {
        height: 70px;

        .title {
          margin-bottom: 10px;
        }
      }

      .hide-work {
        font-size: 10px;
        margin-top: 10px;
        text-align: right;
      }

      .bottom {
        @include display(flex);
        @include justify-content(center);

        margin-top: 7px;

        .ann-checkin-progress {
          @include flex(1);
        }
      }
    }

    hr {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
