@mixin work-profile {
  &.not-signed-in {
    .work-title {
      @if $browser == pc {
        margin: 240px 10px 25px 10px !important;
      }
      @if $browser == mobile {
        margin: 150px 10px 25px 10px !important;
      }
    }
  }

  .work-profile {
    position: relative;
    text-align: center;

    .wrapper {
      background-color: rgba(0,0,0,0.5);
      left: 0;
      min-height: 100%;
      position: absolute;
      right: 0;
      top: 0;

      .work-title {
        @if $browser == pc {
          margin: 200px 10px 25px 10px;
        }
        @if $browser == mobile {
          margin: 130px 10px 25px 10px;
        }

        h1 {
          color: #ffffff;
          margin: {
            bottom: 10px;
            top: 0;
          }

          @if $browser == pc {
            font-size: 25px;
          }
          @if $browser == mobile {
            font-size: 20px;
          }
        }
      }

      .work-statistics {
        bottom: 10px;
        position: absolute;

        @if $browser == pc {
          margin-left: 25%;
        }
        @if $browser == mobile {
          margin-left: 10%;
        }

        .count {
          color: #ffffff;

          @if $browser == pc {
            font-size: 18px;
          }
          @if $browser == mobile {
            font-size: 15px;
          }
        }

        .text {
          color: #b4b4b4;
          font-size: 12px;
        }
      }
    }
  }
}