@mixin work-profile-light {
  .work-profile-light {
    .work-image {
      text-align: center;
    }

    .work-title {
      h1 {
        @if $browser == pc {
          font-size: 18px;
        }
        @if $browser == mobile {
          font-size: 14px;
        }

        margin-top: 7px;
      }

      .episode-title {
        .number {
          margin-right: 8px;
        }
      }
    }
  }
}