- title = t "head.title.comments.edit"
- description = meta_description t("head.meta.description.comments.edit")
- keywords = meta_keywords
- set_meta_tags(title: title, description: description, keywords: keywords, og: { title: title, description: description }, reverse: true, prefix: false)

.c-card.p-3.mb-4
  = render "comments/form", record: @record, comment: @comment, user: @user
