.select2-selection {
  border: 1px solid #ccc !important;
  height: 34px !important;
}

.select2-selection__rendered {
  line-height: 34px !important;
}

.select2-selection__arrow {
  height: 34px !important;
}
