.c-season-dropdown {
  > a {
    i {
      margin-left: .4rem;
    }
  }

  > .uk-dropdown {
    background-color: $white;
    border-radius: 2px;
    box-shadow: 0 1px 2px $cadet-gray;
    height: 30rem;
    overflow-y: scroll;
    top: 35px !important;
  }

  .uk-nav {
    li {
      height: 2rem;
      line-height: 2rem;
    }

    a {
      padding: 0 .5rem;
    }
  }
}
