package components

// ContentCard はコンテンツ表示用のカードUIです
templ ContentCard() {
	<div class="card py-4 rounded-none md:rounded-xl mx-0 md:mx-4">
		<section class="px-4">
			{ children... }
		</section>
	</div>
}
