// http://css-spinners.com/#/spinner/throbber/

@include keyframes(throbber) {
  0% {
    background: #ebe2e4;
  }

  10% {
    background: #e9889f;
  }

  40% {
    background: $color-mizuho;
  }
}

.loading-box {
  height: 100px;

  /* :not(:required) hides these rules from IE9 and below */
  > .core:not(:required) {
    @include animation(throbber 2000ms 300ms infinite ease-out);

    background: #ebe2e4;
    display: inline-block;
    height: 1.5em;
    margin: 0 1.6em;
    position: relative;
    text-indent: -9999px;
    width: 0.9em;
  }

  > .core:not(:required):before,
  > .core:not(:required):after {
    background: #ebe2e4;
    content: '\x200B';
    display: inline-block;
    height: 1.5em;
    position: absolute;
    top: 0;
    width: 0.9em;
  }

  > .core:not(:required):before {
    @include animation(throbber 2000ms 150ms infinite ease-out);

    left: -1.6em;
  }

  > .core:not(:required):after {
    @include animation(throbber 2000ms 450ms infinite ease-out);

    right: -1.6em;
  }
}
