<% title = t "head.title.db.activities.index" %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="container-fluid py-3">
  <div class="mb-3">
    <h1>
      <%= t "noun.activities" %>
    </h1>
  </div>

  <div class="mb-3">
    <% @activities.each do |activity| %>
      <% if activity.trackable.present? %>
        <% if activity.root_resource_action? %>
          <%= render "activity_root_resources", activity: activity %>
        <% elsif activity.child_resource_action? %>
          <%= render "activity_child_resources", activity: activity %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="text-center">
    <%= V6::ButtonGroups::PaginationButtonGroupComponent.new(self, collection: @activities).render %>
  </div>
</div>
