.c-body {
  position: relative;

  &__content {
    line-height: $line-height-lg;
    overflow-wrap: break-word;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
      margin-top: 3rem;
    }

    dl,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol,
    p,
    ul {
      margin-bottom: 1.5rem;
    }

    p:last-child {
      margin-bottom: 1rem;
    }

    blockquote {
      border-left: 0.25em solid var(--ann-hr-color);
      color: var(--ann-text-muted-color);
      padding: 0 1em;
    }
  }

  &__read-more-background {
    background: linear-gradient(
      rgba(var(--ann-card-bg-rgb), 0),
      rgba(var(--ann-card-bg-rgb), 0),
      rgba(var(--ann-card-bg-rgb), 1)
    );
    position: absolute;
    top: 0;
  }
}
