.c-work-button-group {
  height: 38px;

  .dropdown-toggle::after {
    display: none;
  }

  .c-status-select-dropdown {
    &.c-spinner {
      border-bottom-left-radius: $border-radius-pill;
      border-top-left-radius: $border-radius-pill;
    }

    .btn.dropdown-toggle {
      border-bottom-left-radius: $border-radius-pill;
      border-top-left-radius: $border-radius-pill;
      padding-left: 1.2rem;
      padding-right: 1rem;
    }
  }
}
