@include media-breakpoint-up(lg) {
  .p-profile-header {
    $root: &;

    color: $ann-color-white;
    height: 450px;
    position: relative;
    width: 100%;

    &--low {
      height: 200px;
    }

    &__cover-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &__info {
      background: linear-gradient(to bottom, transparent, rgba($ann-color-black, .35));
      width: 100%;
      z-index: 1;

      a {
        color: $ann-color-white;
      }

      #{$root}__avatar {
        border: 3px solid $ann-color-white;
      }
    }
  }
}
