.p-users-show {
  $root: &;

  &__count {
    #{$root}__count-link {
      color: $body-color;
    }
  }

  &__sub-title {
    border-bottom: 1px solid $hr-border-color;
    font-size: 1.1rem;
    margin-bottom: .75rem;
    padding-bottom: .75rem;
  }
}
