@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src:font-url("icomoon.woff") format("woff");
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-checkin:before {
  content: "\e600";
}
