<h3>
  放送予定を登録する
</h3>

<p>
  放送予定はCSV形式で登録することができます。
</p>

<ul>
  <li>
    [必須] 放送情報ID
  </li>
  <li>
    [必須] 開始時間
  </li>
  <li>
    [任意] エピソードID
  </li>
</ul>

<p>
  上記の項目を以下のようにカンマ (,) で区切って入力します。
</p>

<pre>
6456, 2017-01-27 00:00, 3540
</pre>

<p>
  左から順に、放送情報ID、開始時間、エピソードIDを入力して下さい。
</p>
