.activity-bottom {
  @include display(flex);
  @include justify-content(space-between);

  height: 20px;
  line-height: 20px;
  margin-top: 10px;

  > .time {
    color: $color-gray-dark-light;
    font-size: 12px;
  }
}
