.check-box > .info {
  @include display(flex);

  > .left {
    @include flex-basis(40px);
    @include flex-shrink(0); // 横幅を40pxに固定する

    width: 40px;
  }

  > .right {
    margin-left: 10px;
    width: 100%;
  }

  > .right > .work {
    margin-bottom: 3px;
  }

  > .right > .episode,
  > .right > .no-episode {
    font-size: 12px;
  }

  > .skip {
    @include flex-basis(60px);
    @include flex-shrink(0);

    color: $color-gray-dark-light;
    font-size: 10px;
    text-align: right;
    width: 60px;

    &:hover {
      cursor: pointer;
    }
  }

  > .skip > i {
    margin-right: 3px;
  }
}

.check-box > .checkin {
  margin-top: 10px;

  .checkin-top {
    @include display(flex);

    height: 50px;
  }

  .checkin-top-wrapper {
    @include align-items(center);
    @include display(flex);
    @include flex-basis(90px);
    @include flex-shrink(0);
  }

  .share-to-sns {
    margin-left: 7px;
  }

  .share-to-sns-facebook label {
    margin-bottom: 0;
  }

  .share-to-sns-twitter i {
    color: $color-twitter;
    margin-right: 3px;
  }

  .share-to-sns-facebook i {
    color: $color-facebook;
    margin-right: 7px;
  }

  .record-button {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-left: 10px;
  }
}

.check-box > .checkin.expand {
  height: 100px;

  > form > .checkin-top {
    textarea {
      height: 100px;
    }
  }
}

.check-box.last > hr {
  display: none;
}
