.c-subnav {
  $root: &;

  border-bottom: 1px solid var(--bs-border-color);
  overflow-y: hidden;

  &__list {
    list-style: none;
    margin-bottom: 0;
    overflow-x: auto;
    padding: 0;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    color: var(--bs-body-color);
    display: inline-block;
    height: $ann-navbar-height;
    line-height: $ann-navbar-height;

    &--active {
      border-bottom: solid .15rem var(--ann-color-mizuho);
    }
  }
}
