<% title = t("head.title.pages.legal") %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<% content_for :head_meta do %>
  <meta name="robots" content="noindex,nofollow,noarchive">
<% end %>

<div class="py-3">
  <div class="container">
    <h1 class="fw-bold mb-0">
      <%= title %>
    </h1>
  </div>

  <hr>

  <div class="container mt-3 u-container-flat">
    <div class="card u-card-flat">
      <div class="card-body">
        <dl class="row">
          <dt class="col-sm-3">
            販売事業者
          </dt>
          <dd class="col-sm-9 mb-3">
            榛葉 光二
          </dd>
          <dt class="col-sm-3">
            運営責任者
          </dt>
          <dd class="col-sm-9 mb-3">
            榛葉 光二
          </dd>
          <dt class="col-sm-3">
            住所
          </dt>
          <dd class="col-sm-9 mb-3">
            請求があった場合には速やかに開示いたします
          </dd>
          <dt class="col-sm-3">
            電話番号
          </dt>
          <dd class="col-sm-9 mb-3">
            請求があった場合には速やかに開示いたします
          </dd>
          <dt class="col-sm-3">
            メールアドレス
          </dt>
          <dd class="col-sm-9 mb-3">
            hello@annict.com
          </dd>
          <dt class="col-sm-3">
            販売価格
          </dt>
          <dd class="col-sm-9 mb-3">
            月額290円または年額2,900円
          </dd>
          <dt class="col-sm-3">
            商品代金以外の必要料金
          </dt>
          <dd class="col-sm-9 mb-3">
            ありません
          </dd>
          <dt class="col-sm-3">
            お支払い方法
          </dt>
          <dd class="col-sm-9 mb-3">
            決済サービス「Stripe」または「Gumroad」を利用したクレジットカード決済
          </dd>
          <dt class="col-sm-3">
            支払時期
          </dt>
          <dd class="col-sm-9 mb-3">
            申込日に初回決済を行い、以降は毎月同日に自動更新となります
          </dd>
          <dt class="col-sm-3">
            サービス提供時期
          </dt>
          <dd class="col-sm-9 mb-3">
            お支払い手続きが完了し次第、すぐにご利用いただけます
          </dd>
          <dt class="col-sm-3">
            返品・キャンセルについて
          </dt>
          <dd class="col-sm-9 mb-3">
            デジタルコンテンツの性質上、返品またはキャンセルはできません<br>
            サブスクリプションはいつでも解約可能で、解約後は次回更新日から課金を停止いたします
          </dd>
          <dt class="col-sm-3">
            動作環境
          </dt>
          <dd class="col-sm-9 mb-3">
            <a href="<%= faq_path %>">よくある質問</a>の対応ブラウザの項目をご確認下さい
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
