<% title = t("head.title.pages.privacy") %>
<% set_meta_tags(title: title, reverse: true, prefix: false) %>

<div class="py-3">
  <div class="container">
    <h1 class="fw-bold mb-0">
      <%= title %>
    </h1>
  </div>

  <hr>

  <div class="container mt-3 u-container-flat">
    <div class="card u-card-flat">
      <div class="c-rendered-markdown card-body">
        <%== render_markdown File.read("app/docs/privacy_policy.ja.md") %>
      </div>
    </div>
  </div>
</div>
