body.oauth-authorizations-new {
  background-color: $color-gallery;

  .a-container {
    height: 100%;

    .a-logo {
      margin-bottom: 28px;
    }

    .card {
      padding: 14px;

      h1 {
        font-family: "Noto Sans JP", sans-serif;
        font-size: 25px;
        font-weight: 100;
      }

      h2 {
        font-size: 18px;
      }
    }
  }
}
