body.oauth-authorizations-show {
  background-color: $color-gallery;

  .a-container {
    height: 100%;

    .a-logo {
      margin-bottom: 28px;
    }

    .card {
      padding: 14px;

      h1 {
        font-family: "Noto Sans JP", sans-serif;
        font-size: 25px;
        font-weight: 100;
        margin-bottom: 21px;
      }

      code {
        word-wrap: break-word;
      }
    }
  }
}
