body.sessions-new {
  background-color: $color-mine-shaft;

  .ann-sign-in {
    height: 100%;

    .ann-logo {
      margin-bottom: 35px;
    }

    .ann-button {
      a {
        width: 260px;

        i {
          margin-right: 7px;
        }
      }
    }
  }
}
