*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $color-white-lilac;
  color: $color-text;
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.4;
}

a {
  color: $color-mizuho;
  text-decoration: none;
  transition: color .05s ease-out;

  &:hover {
    color: #c5244a;
  }
}

textarea,
input[type="text"],
button {
  outline: none;
}

textarea,
input[type="text"] {
  -webkit-appearance: none;
  border: 1px solid $color-alto;
  padding: 6px 12px;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 21px 0;
}

ul {
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
  margin-top: 0;
}

[v-cloak] {
  display: none;
}
