*,
*:before,
*:after {
  @include box-sizing(border-box);
}

::selection {
  background: $color-kei;
  color: #fff;
  text-shadow: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $color-gallery;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.4;
}

a {
  color: $color-mizuho;
  text-decoration: none;
  transition: color .05s ease-out;

  &:hover {
    color: #c5244a;
  }
}

textarea,
input[type="text"],
button {
  outline: none;
}

textarea,
input[type="text"] {
  -webkit-appearance: none;
  border: 1px solid $color-alto;
  padding: 6px 12px;
}

ul {
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
  margin-top: 0;
}
