<div class="btn-group btn-group-sm text-center">
  <%= link_to prev_episode_path, class: prev_episode_class_name do %>
    <i class="far fa-angle-left me-1"></i>
    <%= t "noun.prev" %>
  <% end %>

  <%= link_to next_episode_path, class: next_episode_class_name do %>
    <%= t "noun.next" %>
    <i class="far fa-angle-right ml-1"></i>
  <% end %>
</div>
