.sidebar {
  background-color: $color-gallery;
  box-shadow: 0 1px 2px rgba(43,59,93,.29);
  float: left;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  width: 200px;
}

.sidebar__header {
  display: block;
  padding: 11px 0;
  text-align: center;
}

.sidebar__body a,
.sidebar__body i,
.sidebar__body .caption {
  line-height: 40px;
}

.sidebar__body i {
  color: $color-gunsmoke;
  float: left;
  font-size: 20px;
  text-align: center;
  width: 24px;
}

.sidebar__body a {
  color: $color-mine-shaft;
  display: inline-block;
  font-size: 12px;
  padding: 3px 15px;
  width: 100%;

  &:hover {
    background-color: rgba(0,0,0,.03);
    text-decoration: none;
  }
}

.sidebar__body .caption {
  display: inline-block;
  margin-left: 10px;
}

.sidebar__notifications-count {
  background-color: $color-mizuho;
  border-radius: 10px;
  color: #ffffff;
  font-size: 12px;
  left: 50%;
  padding: 2px 6px;
  position: relative;
}

.sidebar__line {
  margin-bottom: 25px;
  margin-top: 15px;
}

.sidebar__footer {
  text-align: center;
}

.sidebar__footer a {
  color: #c1c1c1;
  font-size: 10px;
  margin-right: 12px;
}

.sidebar__footer .copyright {
  color: $color-gunsmoke;
  font-size: 10px;
  margin-top: 10px;
}
