<h3>
  シリーズ作品を登録する
</h3>
<p>
  シリーズ作品はCSV形式で登録することができます。
</p>

<ul>
  <li>
    作品IDまたは作品名
  </li>
  <li>
    作品の関係性
  </li>
</ul>

<p>
  「作品の関係性」には、例えば「1期」や「劇場版」など、紐づく作品がどのようなものなのかを記載します。自由入力です。
</p>
<p>
  上記の項目を以下のようにカンマ (,) で区切って入力します。
</p>

<pre>
// 作品IDで入力した場合
327, 1期

// 作品名で入力した場合
フルメタル・パニック！, 1期
</pre>
