.c-subnav2 {
  $root: &;

  border-bottom: 1px solid $ann-color-border;
  overflow-y: hidden;

  &__list {
    list-style: none;
    margin-bottom: 0;
    overflow-x: auto;
    padding: 0 1rem;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    display: inline-block;
    height: $ann-navbar-height;
    line-height: $ann-navbar-height;

    &--active {
      border-bottom: solid .15rem $ann-color-mizuho;
    }
  }
}
