body.sayonara-show {
  padding-top: 60px;

  .c-tabs {
    @include tabs(independent);
  }

  .app__main {
    > .content {
      @include content(narrow);
      @include card;

      .wrapper {
        margin: 15px 0;

        .description {
          font-size: 14px;
          margin-bottom: 10px;
        }

        .action {
          text-align: center;
        }
      }
    }
  }
}
