<p><%= @resource.email %>さん、こんにちは。</p>

<p>パスワード変更のリクエストがありました。下記リンクをクリックするとパスワード再設定ページにアクセスできます。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(reset_password_token: @token, host: @resource.annict_host) %></p>

<p>もしパスワード変更のリクエストに身に覚えがない場合は、このメールを無視してください。</p>
<p>上記リンクにアクセスしてパスワードを再設定しない限りパスワードが変更されることはありません。</p>
