body.db-edit_requests-show {
  .header {
    margin: 20px 0;
  }

  .work-annotation {
    font-size: 12px;
    margin-left: 7px;
  }

  h1 {
    font-size: 30px;
    margin-top: 0;
  }

  .nav-tabs {
    margin-bottom: 20px;
  }
}
