body.db-works, body.db-draft_works {
  form {
    h4 {
      text-align: center;

      &.work-fields {
        margin-bottom: 30px;
      }

      &.edit-request-fields {
        margin: 30px 0;
      }
    }
  }
}

body.db-works-index,
body.db-works-season,
body.db-works-resourceless,
body.db-works-search {
  .nav-tabs {
    margin-bottom: 20px;
  }

  .fetch-syobocal {
    margin-left: 7px;

    &.enabled {
      color: #5cb85c;
    }

    &.disabled {
      color: #e1e1e1;
    }
  }
}
