body.db-works, body.db-draft_works {
  .nav-tabs {
    margin-bottom: 30px;
  }

  form {
    h4 {
      text-align: center;

      &.work-fields {
        margin-bottom: 30px;
      }

      &.edit-request-fields {
        margin: 30px 0;
      }
    }
  }
}
