body {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  padding-top: 80px;
}

h1, h2 {
  margin-top: 30px;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

p {
  line-height: 1.8;
  margin-bottom: 30px;
}

nav.navbar {
  height: 60px;
  line-height: 60px;

  .navbar-header .navbar-brand {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
  }

  .navbar-collapse {
    .navbar-nav a {
      line-height: 60px;
      padding: 0 15px;
    }

    form.navbar-form {
      height: 60px;
      line-height: 56px;
      margin: 0;

      input.form-control {
        width: 300px;
      }
    }
  }

  .badge {
    margin-top: -3px;
  }
}

.edit-type-tabs {
  margin-bottom: 30px;
}

ul.resource-nav-pills {
  margin: 10px 0 20px 0;
}
