html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

dl {
  dd {
    margin-bottom: 0.5rem;
  }
}

code {
  background-color: $color-gallery;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 21px 0;
}

[v-cloak] {
  display: none;
}
