[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
  box-shadow: none;
  font-size: 1rem;

  &:focus {
    box-shadow: none;
  }
}

textarea,
select,
input[type="text"],
button {
  outline: none;
}

textarea,
input[type="text"] {
  -webkit-appearance: none;
}
