.ann-navbar {
  .dropdown {
    line-height: 60px;
  }
}

.ann-footer {
  table {
    border-collapse: separate;
    border-radius: initial;
    border-spacing: 2px;
    width: auto;

    tbody {
      background-color: transparent;
      border: none;

      tr {
        &:nth-child(even) {
          background-color: transparent;
        }

        th {
          padding: 0;
        }

        td {
          padding: 0;

          ul {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.ann-search-form {
  input {
    border-radius: 0;
    font-size: $global-font-size;
    height: 32px;

    &:focus {
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid $color-alto;
      border-color: rgba(255, 255, 255, 0.15);
      border-right-width: 0;
    }
  }

  button {
    border-radius: 0;
  }
}
