@import '~bootstrap/scss/mixins';

.u-link {
  // @include hover-focus {
  //   color: $link-hover-color !important;
  // }
}

.u-fake-link {
  color: $link-color;
  cursor: pointer;
  text-decoration: $link-decoration;

  // @include hover-focus {
  //   color: $link-hover-color;
  //   text-decoration: $link-hover-decoration;
  // }
}
