.l-welcome {
  $root: &;

  &__main {
    margin-left: 0;
    // For sticky footer
    // https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
    min-height: 100vh;

    #{$root}__content {
      flex: 1;
    }
  }

  &__about {
    background-color: var(--ann-card-bg);
  }

  &__cta {
    background: rgb(213, 28, 91);
    background: linear-gradient(150deg, rgba(213, 28, 91, 1) 27%, rgba(233, 19, 90, 0.9) 100%);
    background-color: white;
    padding-bottom: 10rem;
    padding-top: 10rem;
  }
}
