<div class="overflow-hidden">
  <div class="g-3 row">
    <% animes.each do |anime| %>
      <div class="col-12 col-lg-3 mt-3">
        <div class="gx-3 row">
          <div class="col-5">
            <%= link_to anime_path(anime_id: anime.id) do %>
              <%= Pictures::AnimePictureComponent.new(self, anime: anime, width: 280).render %>
            <% end %>
          </div>

          <div class="col-7">
            <%= link_to anime.local_title, anime_path(anime_id: anime.id), title: anime.local_title, class: "text-body" %>

            <% if user_signed_in? && current_user.id == user.id %>
              <div class="mt-2">
                <%= ButtonGroups::AnimeButtonGroupComponent.new(self, anime: anime).render %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
