<div class="overflow-hidden">
  <div class="g-3 row">
    <% works.each do |work| %>
      <div class="col-12 col-lg-3 mt-3">
        <div class="gx-3 row">
          <div class="col-5">
            <%= link_to work_path(work_id: work.id) do %>
              <%= Pictures::WorkPictureComponent.new(self, work: work, width: 280).render %>
            <% end %>
          </div>

          <div class="col-7">
            <%= link_to work.local_title, work_path(work_id: work.id), title: work.local_title, class: "text-body" %>

            <% if user_signed_in? && current_user.id == user.id %>
              <div class="mt-2">
                <%= ButtonGroups::WorkButtonGroupComponent.new(self, work: work).render %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
