<div class="c-work-grid gx-2 gy-3 row">
  <% works.each do |work| %>
    <% library_entry = library_entries.select { |le| le.work_id == work.id }.first %>

    <div class="c-work-grid__col">
      <%= Cards::WorkCardComponent.new(self, work: work, width: 110, user: user, note: library_entry.note).render %>
    </div>
  <% end %>
</div>
