@mixin ann-dark-variables {
  --ann-color-body-bg: var(--ann-color-black-060);
  --ann-color-body: var(--ann-color-black-005);
  --ann-color-hr-border: var(--ann-color-black-005);
  --ann-color-link: #3291ff;
  --ann-color-text-muted: var(--ann-color-black-040);
}
