$ann-color-dark-body:          map-get($ann-color-black-map, "005");
$ann-color-dark-border:        map-get($ann-color-black-map, "060");
$ann-color-dark-completed:     map-get($ann-color-green-map, "060");
$ann-color-dark-dropped:       map-get($ann-color-black-map, "050");
$ann-color-dark-on-hold:       map-get($ann-color-red-map, "080");
$ann-color-dark-plan-to-watch: map-get($ann-color-orange-map, "080");
$ann-color-dark-watching:      map-get($ann-color-blue-map, "040");

@mixin ann-dark-variables {
  $ann-color-dark-map: (
    "completed":                     $ann-color-dark-completed,
    "dropped":                       $ann-color-dark-dropped,
    "on-hold":                       $ann-color-dark-on-hold,
    "plan-to-watch":                 $ann-color-dark-plan-to-watch,
    "watching":                      $ann-color-dark-watching,
    "average":                       #ff6d00,
    "bad":                           #757575,
    "facebook":                      map-get($ann-color-service-map, "facebook"),
    "footer-bg":                     #334854,
    "footer-title":                  $ann-color-dark-body,
    "good":                          #00C853,
    "great":                         #00B0FF,
    "mizuho":                        map-get($ann-color-mizuho-map, "050"),
    "sidebar-bg":                    map-get($ann-color-black-map, "070"),
    "sidebar-color":                 map-get($ann-color-black-map, "070"),
    "spinner":                       map-get($ann-color-mizuho-map, "050"),
    "supporter":                     #00BCD4,
    "twitter":                       map-get($ann-color-service-map, "twitter"),
  );

  @each $name, $value-map in $ann-button-name-map {
    $ann-color-dark-map: map-merge(
      (
        "#{$name}-button-background": map-get($ann-color-dark-map, map-get($value-map, "bg")),
        "#{$name}-button-border": map-get($ann-color-dark-map, map-get($value-map, "bg")),
        "#{$name}-button-background-hover": darken(map-get($ann-color-dark-map, map-get($value-map, "bg")), 7.5%),
        "#{$name}-button-border-hover": darken(map-get($ann-color-dark-map, map-get($value-map, "bg")), 10%),
        "#{$name}-button-color": map-get($ann-color-dark-map, map-get($value-map, "color")),
      ),
      $ann-color-dark-map
    )
  }

  @each $name, $value in $ann-color-dark-map {
    --ann-color-#{$name}: #{$value};
  }
}
