@mixin ann-light-variables {
  --ann-color-body-bg: #FCFCFC;
  --ann-color-body: #444444;
  --ann-color-hr-border: rgba(0, 0, 0, .08);
  --ann-color-link: #3291ff;
  --ann-color-text-muted: var(--ann-color-black-040);
}
