c-analytics :tracking-id="'#{ga_tracking_id(request)}'" :client-id="'#{viewer_uuid}'" :user-id="'#{current_user&.encoded_id}'" :dimension1="'#{user_signed_in? ? 'user' : 'guest'}'" :dimension2="'#{page_category}'"
