c-analytics :tracking-id="'#{ENV.fetch('GA_TRACKING_ID')}'" :client-id="'#{client_uuid}'" :user-id="'#{current_user&.encoded_id}'" :dimension1="'#{user_signed_in? ? 'user' : 'guest'}'" :dimension2="'#{page_category}'"
