javascript:
  // Set this config to rerender icon when Vue's state changed
  window.FontAwesomeConfig = { autoReplaceSvg: 'nest' }
script defer="" src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"
