javascript:
  // Set this config to rerender icon when Vue's state changed
  window.FontAwesomeConfig = { autoReplaceSvg: 'nest' }
script src="https://kit.fontawesome.com/0099029c12.js" crossorigin="anonymous"
