javascript:
  // Set this config to rerender icon when Vue's state changed
  window.FontAwesomeConfig = { autoReplaceSvg: 'nest' }
script defer="" src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
