= ann_display_meta_tags
meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no"

= render "application/head_common"
link href="/images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144"
link href="/images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114"
link href="/images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72"
link href="/images/apple-touch-icon-57x57.png" rel="apple-touch-icon-precomposed" sizes="57x57"

= stylesheet_bundle_tag "mobile.css", media: "all", "data-turbolinks-track": "reload"
= javascript_bundle_tag "v4.js", defer: "", "data-turbolinks-track": "reload"

= yield :head
