= ann_display_meta_tags

= render "application/head_common"

= stylesheet_bundle_tag "pc.css", media: "all", "data-turbolinks-track": "reload"
= javascript_bundle_tag "v4.js", defer: "", "data-turbolinks-track": "reload"

= yield :head
