= ann_display_meta_tags

= render "application/head_common"

= stylesheet_pack_tag "pc", media: "all", "data-turbolinks-track": "reload"
= javascript_pack_tag "pc", "data-turbolinks-track": "reload"

= yield :head
