meta property='og:title' content="#{page_title(page_title_symbol: :site_page_title, separator: ' | ')}"
meta property='og:type' content='website'
meta property='og:url' content="#{request.url}"
meta property='og:description' content="#{t('og.description')}"
meta property='og:site_name' content="#{t('words.site_name')}"
meta property='og:image' content="#{ENV['ANNICT_URL']}/images/og_image.png"
meta property='og:app_id' content='602271853188285'
meta property='og:locale' content='ja_JP'
