.ann-selector-spinner data-target="#{target}"
  .selector-spinner
    = icon 'circle-o-notch', '', class: 'spinner', 'ng-show' => 'isSpinning', 'ng-class' => '{"fa-spin": isSpinning}'
    = icon 'check-circle', '', class: 'check', 'ng-show' => '!isSpinning && done'
