.btn-group-tab
  .btn-group.btn-group-sm
    = link_to t('words.activity'), root_path, class: "btn btn-default #{current_page?(controller: 'home') ? 'active' : ''}"
    = link_to t('words.program'), programs_path, class: "btn btn-default #{current_page?(controller: 'programs') ? 'active' : ''}"