<div class="<%= @class_name %>">
  <button
    class="btn btn-outline-secondary"
    data-toggle="dropdown"
    id="animeMenuDropdown"
    type="button"
  >
    <i class="far fa-ellipsis-h"></i>
  </button>

  <div aria-labelledby="animeMenuDropdown" class="dropdown-menu dropdown-menu-right">
    <%= render Buttons::ProgramListModalButtonComponent.new(anime_id: @anime_id, class_name: "dropdown-item") do %>
      <%= t "messages._components.program_list_modal_button.check_program" %>...
    <% end %>
  </div>
</div>
