.settings__providers .providers__twitter,
.settings__providers .providers__facebook {
  display: flex;
  height: 30px;
  justify-content: space-between;
  line-height: 30px;
}

.settings__providers .providers__twitter {
  margin-bottom: 20px;
}

.settings__providers .twitter__head,
.settings__providers .facebook__head {
  flex-basis: 50%;
  margin-right: 15px;
  text-align: right;
}

.settings__providers .twitter__body,
.settings__providers .facebook__body {
  flex-basis: 50%;
  margin-left: 15px;
  text-align: left;
}

.settings__providers .icon {
  margin-right: 7px;
}

.settings__providers .cancel-disabled {
  font-size: 12px;
}
