.flash {
  height: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;

  @if $browser == mobile {
    width: 320px;
  }

  &.ng-hide-add, &.ng-hide-remove {
    @include transition(all linear 1s);
    display: block !important;
  }

  &.ng-hide-add.ng-hide-add-active,
  &.ng-hide-remove {
    top: -500px;
  }

  &.ng-hide-add,
  &.ng-hide-remove.ng-hide-remove-active {
    top: 0;
  }

  .alert {
    border: none;
    margin-bottom: 0px;
    padding: 0;

    .content {
      line-height: 48px;
      margin: 0 auto;
      max-width: 500px;
      padding-left: 10px;

      i {
        font-size: 30px;
        margin-right: 7px;
        position: relative;
        top: 5px;
      }
    }
  }
}