<h3>
  放送情報を登録する
</h3>

<p>
  放送情報はCSV形式で登録することができます。
</p>

<ul>
  <li>
    [必須] チャンネルIDまたはチャンネル名
  </li>
  <li>
    [任意] 放送開始日時
  </li>
  <li>
    [任意] 再放送フラグ (1: 再放送, 0: 再放送でない)
  </li>
  <li>
    [任意] VOD作品コード
  </li>
  <li>
    [任意] VOD作品名
  </li>
</ul>

<p>
  上記の項目を以下のようにカンマ (,) で区切って入力します。
</p>

<pre>
// チャンネルをIDで入力した場合
244,2017-07-19 12:00,0,80193315,NEW GAME!!

// チャンネルを名前で入力した場合
Netflix,2017-07-19 12:00,0,80193315,NEW GAME!!
</pre>

<p>
  左から順に、チャンネルID (名前)、放送開始日時、VOD作品コード、VOD作品名を入力して下さい。
</p>

<p>
  任意の項目は省略が可能です。例えば「放送開始日時がわからないので省略したい」というときは以下のように入力します。
</p>

<pre>
244,,0,80193315,NEW GAME!!
</pre>

<p>
  チャンネルIDやチャンネル名は<a href="/db/channels">チャンネル一覧ページ</a>を参考に入力してください。
</p>

<hr>
