@mixin selector {
  height: 30px;
  margin: 0 auto;

  .selector-spinner {
    position: relative;
    width: 12px;

    i {
      left: 0;
      position: absolute;
      top: 5px;

      &.spinner {
        color: $color-alto;
        display: none;
        font-size: 13px;

        &.show {
          display: inline;
        }
      }

      &.check {
        color: #64e86f;
        display: none;

        &.show {
          display: inline;
        }
      }
    }
  }

  .selector {
    @include flex(0 120px);
    border-radius: 0;
    border: solid 1px #ffffff;
    color: #ffffff;
    margin-right: 5px;
    overflow: hidden;
    position: relative;

    i {
      font-size: 15px;
      position: absolute;
      right: 7px;
      top: 7px;
    }

    select {
      @include appearance(none);

      background-color: rgba(255,255,255,0);
      border-radius: 0;
      border: 0;
      cursor: pointer;
      height: 30px;
      outline: none;
      padding-left: 7px;
      width: 130%;
    }
  }
}

@mixin selector-mini {
  bottom: 20px;
  height: 25px;
  margin-right: 0;
  width: 100px;

  .selector {
    @include flex(0 100px);
    border: solid 1px $color-gunsmoke;
    color: $color-gunsmoke;
    margin-right: 5px;

    i {
      top: 3px;
    }

    select {
      font-size: 10px;
      height: 23px;
      line-height: 23px;
    }
  }
}
