/.bundle
/.env.local
/.envrc
/.sass-cache
/app/assets/builds/*
/config/master.key
/coverage
/db/dump/*
/bin/sync
/lib/tasks/dev.rake
/log/*
/node_modules
/private
/public/packs
/public/uploads
/tags
/tmp/*
/vendor/bundle
/volumes

!/app/assets/builds/.keep
!/log/.keep
