<p>普段見ているテレビのチャンネルをAnnictに設定すると、「<%= link_to "記録する", "/track" %>」ページで自分が見てる・見たい作品の放送予定を見ることができます。</p>
<p>チャンネルの設定は「<%= link_to "チャンネル", channel_list_path %>」ページでできます。</p>

<div class="text-center">
  <%= link_to "「チャンネル」ページへ", channel_list_path, class: "btn btn-primary" %>
</div>
