<p>ステータスを設定することで、過去に何を見たか、今何を見ているのか、などを整理することができます。</p>
<p>「<%= link_to "見つける", works_path %>」ページにあるセレクトボックスからステータスを選ぶことができます。</p>

<div class="text-center">
  <%= link_to "「見つける」ページへ", works_path, class: "btn btn-primary" %>
</div>
