.syobocal-alert > .alert {
  display: flex;

  .info-icon {
    display: inline-block;
    font-size: 25px;
    height: 40px;
    justify-content: flex-start;
    line-height: 40px;
    margin-right: 7px;
    width: 30px;
  }

  .body {
    justify-content: flex-start;
  }
}
