- title = t "head.title.settings.tokens.edit"
- set_meta_tags(title: title, reverse: true, prefix: false)

= render "settings/subnav"

h2.h4.text-center.my-4.font-weight-bold = title
.c-card.u-mw-600.mx-auto.p-3.mt-3.mb-4
  = render "settings/tokens/form", token: @token
