$color-gray-light: #e1e1e1;
$color-gray-dark: #444444;
$color-gray-dark-light: #9a9a9a;

$color-facebook: #2e6499;
$color-twitter: #24b1ec;

$color-mizuho: #e05676;
$color-kei: #c6baa2;

$colors-shirobako:
  rgba(219, 168, 0, 0.3),
  rgba(210, 68, 136, 0.3),
  rgba(124, 96, 140, 0.3),
  rgba(41, 133, 190, 0.3),
  rgba(163, 188, 92, 0.3),
  rgba(215, 79, 19, 0.3);
