// tracking_heatmapパッケージは視聴記録ヒートマップのHTMLフラグメントをレンダリングする。
package tracking_heatmap

import (
	"strconv"

	"github.com/annict/annict/go/internal/viewmodel"
)

// ShowはGET /fragment/@:username/tracking_heatmapが返すヒートマップ
// フラグメントをレンダリングする。出力は <turbo-frame id="tracking-heatmap">
// でラップされ、Rails版ERB (rails/app/views/fragment/tracking_heatmaps/show.html.erb)
// と一致するHTMLを返すことで、プロフィールページのStimulus controllerと
// SCSSを無改修で動かす。
templ Show(cells []viewmodel.TrackingHeatmapCell) {
	<turbo-frame id="tracking-heatmap">
		<div class="c-tracking-heatmap">
			for _, cell := range cells {
				<div
					class={ "c-tracking-heatmap__day", "c-tracking-heatmap__density-" + strconv.Itoa(cell.LeveledCount) }
					data-bs-toggle="tooltip"
					data-bs-placement="top"
					title={ cell.Date + ": " + strconv.Itoa(cell.Count) }
				></div>
			}
		</div>
	</turbo-frame>
}
