<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "application/head" %>
  </head>
  <body>
    <div class="ann-application l-simple">
      <%= render FlashComponent.new(flash) %>
      <%= yield %>
    </div>
  </body>
</html>
