- title = "Inbox"
- description = meta_description
- keywords = meta_keywords
- set_meta_tags title: title, description: description, keywords: keywords, reverse: true

= render "application/v2/navbar"

= render "application/v2/components/footer"
